{% extends 'base.html.twig' %}

{% block title %}New AudioPrivacy
{% endblock %}

{% block body %}
	<h1 id ="{{paziente.id}}" class="idPaziente">Nuova Acquisizione Privacy</h1><br>

    <h4><strong>SCHEMA DI REGISTRAZIONE CONSENSO VOCALE <br>
    CASO DI PAZIENTE (in grado di intendere, volere ed esprimersi in forma orale)</strong><br></h4>
    <h5><strong>Operatore:</strong> Inizio della registrazione<br>
        <strong>Operatore:</strong> Oggi il {{dataOggi}}, qui in <strong class="text-danger">(LUOGO)</strong> Io, {{user.name}} {{user.surname}}, in nome e per conto
        di {{estremiCooperativa}} raccolgo, in forma di registrazione vocale, il consenso al
        trattamento dei dati come da informativa consegnata in forma cartacea<br>
        <strong>Operatore:</strong> Lei è il Sig/Sig.ra {{paziente.nome}} {{paziente.cognome}}<br>
        <strong>Assistito:</strong> Sì<br>
        <strong>Operatore:</strong> Nato/a il <strong class="text-danger">(DATA DI NASCITA)</strong> a <strong class="text-danger">(LUOGO DI NASCITA)</strong><br>
        <strong>Assistito:</strong> Sì<br>
        <strong>Operatore:</strong> Dichiara di aver ricevuto da parte di {{estremiCooperativa}} copia dell’informativa sul
        trattamento dei dati personali<br>
        <strong>Assistito:</strong> Sì<br>
        <strong>Operatore:</strong> Dichiara di aver preso visione dell’informativa sul trattamento dei dati personali<br>
        <strong>Operatore:</strong> Dichiara di aver preso visione dell’informativa sul trattamento dei dati personali<br>
        <strong>Assistito:</strong> Sì<br>
        <strong>Operatore:</strong> Esprime il suo consenso al trattamento dei suoi dati personali inclusi quelli considerati come categorie
        particolari ex sensibili per le finalità espresse nell’informativa.<br>
        <strong>Assistito:</strong> Sì<br>
        <strong>Operatore:</strong> Fine della registrazione<br></h5>
        <br>
    <h4><strong>CASO DI PAZIENTE (non in grado di intendere, volere ed esprimersi in forma orale)</strong><br></h4>
    <h5><strong>Operatore:</strong> Inizio della registrazione<br>
        <strong>Operatore:</strong> Oggi il {{dataOggi}}, qui in <strong class="text-danger">(LUOGO)</strong> Io, {{user.name}} {{user.surname}}, in nome e
        per conto di {{estremiCooperativa}} raccolgo, in forma di registrazione vocale,
        il consenso al trattamento dei dati come da informativa consegnata in forma cartacea<br>
        <strong>Operatore:</strong> Lei è il Sig/Sig.ra <strong class="text-danger">(NOME E COGNOME DEL TUTORE LEGALE O CAREGIVER)</strong><br>
        <strong>Tutore o Caregiver:</strong> Sì<br>
        <strong>Operatore:</strong> Nato/a il <strong class="text-danger">(DATA DI NASCITA)</strong> a <strong class="text-danger">(LUOGO DI NASCITA)</strong><br>
        <strong>Tutore o Caregiver:</strong> Sì<br>
        <strong>Operatore:</strong> Dichiara di rappresentare il/la Sig/Sig.ra {{paziente.nome}} {{paziente.cognome}} <strong class="text-danger">(– DATA E LUOGO DI NASCITA DELL’ASSISTITO)</strong> ed a ciò espressamente autorizzato<br>
        <strong>Tutore o Caregiver:</strong> Sì<br>
        <strong>Operatore:</strong> Dichiara di aver ricevuto da parte di {{estremiCooperativa}} copia
        dell’informativa sul trattamento dei dati personali del Sig/Sig.ra {{paziente.nome}} {{paziente.cognome}}<br>
        <strong>Tutore o Caregiver:</strong> Sì<br>
        <strong>Operatore:</strong> Dichiara di aver preso visione dell’informativa sul trattamento dei dati personali del Sig/Sig.ra
        {{paziente.nome}} {{paziente.cognome}}<br>
        <strong>Tutore o Caregiver:</strong> Sì<br>
        <strong>Operatore:</strong> Esprime il consenso al trattamento dei dati personali inclusi quelli considerati come categorie
        particolari ex sensibili per le finalità espresse nell’informativa in nome e per conto del
        Sig/Sig.ra {{paziente.nome}} {{paziente.cognome}}<br>
        <strong>Tutore o Caregiver:</strong> Sì<br>
        <strong>Operatore:</strong> Fine della registrazione<br></h5>
        <br>

    <section class="main-controls">
        <canvas class="visualizer" height="60px" width="1000"></canvas>
    <div id="buttons">
          <button id="record" class="btn btn-primary" style="">Record</button>
          <button id="stop" class="btn btn-danger" disabled="">Stop</button>
    </div>
    </section>
    <section class="sound-clips">


    </section>

    <br>

    <button class="btn btn-primary" id='salva'>{{ button_label|default('Salva') }}</button>

    <a  type="button" class="btn btn-secondary" onclick="history.back()">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
		</svg>
		Torna indietro</a>
    
    <div class="pb-2 mb-2"></div>
    
{% endblock %}
