{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<div class="row">
	<div class="col">
		{{ form_row(form.dataInizio) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.dataFine) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.idOperatorePrincipale) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.idOperatoreSecondarioInf) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.idOperatoreSecondarioTdr) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.idOperatoreSecondarioLog) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.idOperatoreSecondarioAsa) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.idOperatoreSecondarioOss) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaBarthel) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaBarthel) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaBarthel) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaBarthel) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-4"></div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaBraden) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaBraden) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaBraden) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaBraden) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-4"></div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaSpmsq) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaSpmsq) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaSpmsq) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaSpmsq) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-4"></div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaTinetti) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaTinetti) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaTinetti) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaTinetti) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-4"></div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaVas) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaVas) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaVas) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaVas) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-4"></div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaLesioni) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaLesioni) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaLesioni) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaLesioni) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-4"></div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaPainad) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaPainad) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaPainad) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaPainad) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-4"></div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.abilitaCdr) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col col-lg-2">
				{{ form_label(form.frequenzaCdr) }}
			</div>
			<div class="col col-lg-1">
				<a class="bi bi-info-circle-fill" data-toggle="tooltip" title="Ogni quanti giorni dovrà essere compilata la scala di valutazione."></a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_widget(form.frequenzaCdr) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_errors(form.frequenzaCdr) }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pb-2 mb-2"></div>
</div>
<div class="row">
	{{ form_row(form.salva) }}
</div>

<div class="row">
	{% if scheda_pai.idOperatorePrincipale == null or scheda_pai.currentPlace != "nuova"%}
		{{ form_row(form.salvaEApprova, { 'attr':{'disabled':'disabled'}}) }}
	{% endif %}
</div>{{ form_end(form) }}
