{% extends 'base.html.twig' %}

{% block title %}Paziente
{% endblock %}

{% block body %}
	<h1>
		<i class="bi bi-people"></i>
		Pazienti</h1>

	<div class="b-example-divider"></div>
	<form action="{{ path('app_paziente_index')}}" method="POST" id="my_form">
		<nav class="navbar navbar-expand">
			<div class="container-fluid">
				<div class="col-md-2">
            	<p class="h6"><i class="bi bi-search"></i> Barra di ricerca</p>
            	<form class="d-flex" role="search">
                	<input class="form-control me-2"  id="barra-di-ricerca" type="search" placeholder="Cerca" value="{{ricerca}}" aria-label="Search" name='filtro_ricerca' onchange="this.form.submit()">
            	</form>
            	</div>
				<div class="col-md-2">
					<p class="h6">Pazienti per pagina</p>
					<select class=" d-inline form-select" name='filtro_numero_pazienti' onchange="this.form.submit()">
						<option {% if pazienti_per_pagina == 0 %} selected {% endif %} value="10">10</option>
						<option {% if pazienti_per_pagina == 20 %} selected {% endif %} value="20">20</option>
						<option {% if pazienti_per_pagina == 50 %} selected {% endif %} value="50">50</option>
					</select>
				</div>
				<div class="col-md-2">
					<p class="h6">Presenza Privacy</p>
					<select class=" d-inline form-select" name='filtro_presenza_privacy' onchange="this.form.submit()">
						<option {% if presenza_privacy == 'Tutti' %} selected {% endif %} value="Tutti">Tutti</option>
						<option {% if presenza_privacy == 'Si' %} selected {% endif %} value="Si">Si</option>
						<option {% if presenza_privacy == 'No' %} selected {% endif %} value="No">No</option>
					</select>
				</div>
			</div>
		</nav>
	</form>

	<div class="no-more-tables">
		<table class="col-sm-12  table-striped table-condensed cf">
			<thead class="cf">

				<tr>

					<th>Nome</th>
					<th>Cognome</th>
					<th>Codice Fiscale</th>
					<th>SD Manager</th>
					<th>Acquisizione Privacy</th>
					<th>Operazioni</th>
				</tr>

			</thead>
			<tbody>
				{% for paziente in pazientes %}
					<tr>

						<td data-title='Nome'>{{ paziente.nome }}</td>
						<td data-title='Cognome'>{{ paziente.cognome }}</td>
						<td data-title='Codice Fiscale'>{{paziente.codiceFiscale}}</td>
						<td data-title='SD Manager'>
							<a href='https://demo.sdmanager.it/index.php?module=Servizi.Domiciliari&func=utenti_edit&type=admin&id_utente={{paziente.idSdManager}}'>
								<i class="bi bi-link-45deg fs-4"></i>
							</a>
						</td>
						<td data-title='Acquisizione Privacy'><i class='{{filtroSimboloPresenzaPrivacy.filtroPrivacy(paziente)}}' style='{{filtroSimboloPresenzaPrivacy.filtroColoreSimboloPrivacy(paziente)}}'></i></td>
						<td data-title='Operazioni'>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									Apri
								</button>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="{{ path('app_paziente_show', {'id': paziente.id}) }}" type="button" >
										<i class="bi bi-clipboard2"></i>
										Visualizza</a>
									</li>
									{% if attivazione == "true" %}
										{% if paziente.audioPrivacy == null %}
										<li>
											<a class="dropdown-item" href="{{ path('app_audio_privacy_new', {'id': paziente.id}) }}" type="button" >
											<i class="bi bi-file-earmark-plus"></i>
											Nuova Acquisizione Privacy</a>
										</li>
										{% endif %}
										{% if paziente.audioPrivacy != null %}
										<li>
											<a class="dropdown-item" href="{{ path('app_audio_privacy_edit', {'id': paziente.id}) }}" type="button" >
											<i class="bi bi-pencil-square"></i>
											Modifica Acquisizione Privacy</a>
										</li>
										{% endif %}
										{% if paziente.audioPrivacy != null %}
										<li>
											<a class="dropdown-item" href="{{ path('app_audio_privacy_delete', {'id': paziente.id, '_token': csrf_token('delete' ~ paziente.audioPrivacy.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
											<i class="bi bi-trash3"></i>Elimina Acquisizione Privacy</a>
										</li>
										{% endif %}
									{% endif %}
								</ul>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Nessun paziente disponibile</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


	<div class="pb-2 mb-4"></div>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_paziente_index') }}'; document.getElementById('my_form').submit();"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_paziente_index', {'page':pagina-1}) }}'; document.getElementById('my_form').submit();"><</a></li>
    {% for i in 1..pagine_totali %}
		{% if i == pagina %}
            <li class="page-item active"><a class="page-link" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_paziente_index', {'page':i}) }}'; document.getElementById('my_form').submit();">{{i}}</a></li>
        {% elseif i <= pagina + 5 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_paziente_index', {'page':i}) }}'; document.getElementById('my_form').submit();">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_paziente_index', {'page':pagina+1}) }}'; document.getElementById('my_form').submit();">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_paziente_index', {'page':pagine_totali}) }}'; document.getElementById('my_form').submit();">>></a></li>
  </ul>
</nav>

<div class="pb-2 mb-4"></div>

{% endblock %}
