{% extends 'base.html.twig' %}

{% block title %}Paziente
{% endblock %}

{% block body %}
	<h1>Paziente</h1>

	<div class="no-more-tables">
		<table class="col-sm-12  table-striped table-condensed cf">
			<thead class="cf">
			
				<tr>
					
					<th>Nome</th>
					<th>Cognome</th>
					<th>Codice Fiscale</th>
					<th>SD Manager</th>
					<th>Operazioni</th>
				</tr>
				
			</thead>
			<tbody>
				{% for paziente in pazientes %}
					<tr>
						
						<td data-title='Nome'>{{ paziente.nome }}</td>
						<td data-title='Cognome'>{{ paziente.cognome }}</td>
						<td data-title='Codice Fiscale'>{{paziente.codiceFiscale}}</td>
						<td data-title='SD Manager'>
							<a href='https://demo.sdmanager.it/index.php?module=Servizi.Domiciliari&func=utenti_edit&type=admin&id_utente={{paziente.idSdManager}}'>
								<i class="bi bi-link-45deg fs-4"></i>
							</a>
						</td>
						<td data-title='Operazioni'>
							<a href="{{ path('app_paziente_show', {'id': paziente.id}) }}" type="button" class="btn btn-primary">
								<i class="bi bi-clipboard2"></i>
								Visualizza</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Nessun paziente disponibile</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="pb-2 mb-4"></div>

	<a href="{{ path('app_elenco_schede') }}" type="button" class="btn btn-secondary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
		</svg>
		Torna indietro</a>

	<div class="pb-2 mb-4"></div>

{% endblock %}
