{% form_theme form 'form/help_theme.html.twig' %}

{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

<div class="row">
	<div class="col">
		{{ form_row(form.dataValutazione) }}
	</div>
</div>
<div class="row">
	<div class="col ">
		{{ form_label(form.alimentazione) }}	
		{{ form_help(form.alimentazione) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.alimentazione) }}
		{{form_errors(form.alimentazione)}}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.bagnoDoccia) }}
		{{ form_help(form.bagnoDoccia) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.bagnoDoccia) }}
		{{ form_errors(form.bagnoDoccia) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.igienePersonale) }}
		{{ form_help(form.igienePersonale) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.igienePersonale) }}
		{{ form_errors(form.igienePersonale) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.abbigliamento) }}
		{{ form_help(form.abbigliamento) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.abbigliamento) }}
		{{ form_errors(form.abbigliamento) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.continenzaIntestinale) }}
		{{ form_help(form.continenzaIntestinale) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.continenzaIntestinale) }}
		{{ form_errors(form.continenzaIntestinale) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.continenzaUrinaria) }}
		{{ form_help(form.continenzaUrinaria) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.continenzaUrinaria) }}
		{{ form_errors(form.continenzaUrinaria) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.toilet) }}
		{{ form_help(form.toilet) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.toilet) }}
		{{ form_errors(form.toilet) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.trasferimentoLettoSedia) }}
		{{ form_help(form.trasferimentoLettoSedia) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.trasferimentoLettoSedia) }}
		{{ form_errors(form.trasferimentoLettoSedia) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.scale) }}
		{{ form_help(form.scale) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.scale) }}
		{{ form_errors(form.scale) }}
	</div>
</div>
<br>


<div class="row">
	<div class="col">
		{{ form_label(form.deambulazioneValida) }}
		{{ form_help(form.deambulazioneValida) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.deambulazioneValida) }}
		{{ form_errors(form.deambulazioneValida) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.usoCarrozzina) }}
		{{ form_help(form.usoCarrozzina) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.usoCarrozzina) }}
		{{ form_errors(form.usoCarrozzina) }}
	</div>
</div>
<br>


<button class="btn btn-primary" >{{ button_label|default('Salva') }}</button>
{{ form_end(form) }}
