{% form_theme form 'form/help_theme.html.twig' %}

{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<div class="row">
	<div class="col">
		{{ form_row(form.dataValutazione) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_label(form.percezioneSensoriale) }}
		{{ form_help(form.percezioneSensoriale) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.percezioneSensoriale) }}
		{{ form_errors(form.percezioneSensoriale) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.umidita) }}
		{{ form_help(form.umidita) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.umidita) }}
		{{ form_errors(form.umidita) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.attivita) }}
		{{ form_help(form.attivita) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.attivita) }}
		{{ form_errors(form.attivita) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.mobilita) }}
		{{ form_help(form.mobilita) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.mobilita) }}
		{{ form_errors(form.mobilita) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.nutrizione) }}
		{{ form_help(form.nutrizione) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.nutrizione) }}
		{{ form_errors(form.nutrizione) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.frizioneScivolamento) }}
		{{ form_help(form.frizioneScivolamento) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.frizioneScivolamento) }}
		{{ form_errors(form.frizioneScivolamento) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.presenzaPresidiAntidecubito) }}
		{{ form_help(form.presenzaPresidiAntidecubito) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.presenzaPresidiAntidecubito) }}
		{{ form_errors(form.presenzaPresidiAntidecubito) }}
	</div>
</div>
<br>
<div class="prova">
<div class="row">
	<div class="col">
		{{ form_label(form.presidiAntidecubito) }}
		{{ form_help(form.presidiAntidecubito) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.presidiAntidecubito) }}
		{{ form_errors(form.presidiAntidecubito) }}
	</div>
</div>
</div>
<br>
<button class="btn btn-primary">{{ button_label|default('Salva') }}</button>
<div class="pb-2 mb-2"></div>
{{ form_end(form) }}
