{% extends 'base.html.twig' %}

{% block title %}ElencoVas{% endblock %}

{% block body %}
    <h1>Vas</h1>
 
 <div class="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Assistito</th>
                <th>Operatore</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for va in vas %}
            <tr>
                <td data-title='Id'>{{ va.id }}</td>
                <td data-title='Data'>{{ va.data ? va.data|date('Y-m-d') : '' }}</td>
                <td data-title='Ora'>{{ va.ora ? va.ora|date('H:i:s') : '' }}</td>
                <td data-title='Assistito'>{{va.schedaPAI.nomeAssistito}} {{va.schedaPAI.cognomeAssistito}}</td>
                <td data-title= 'Operatore'>{{va.operatore.name}} {{va.operatore.surname}}<br></td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_vas_show', {'id': va.id}) }}"><i class="bi bi-clipboard2"></i> Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_vas_edit', {'id': va.id}) }}">Modifica</a>
                        <li><a class="dropdown-item" href="{{ path('app_vas_delete', {'id': va.id, '_token': csrf_token('delete' ~ va.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');"><i class="bi bi-trash3"></i> Elimina</a></li>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ path('app_elenco_schede') }}" type="button" class="btn btn-secondary">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
		<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
	</svg>
	Torna indietro</a> 
    
<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_vas_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_vas_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
