{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<div class="row">
	<div class="col">
		{{ form_row(form.dataValutazione) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.conclusioni) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.motivazioneChiusura) }}
	</div>
</div>
<button class="btn btn-primary">{{ button_label|default('Salva') }}</button>
<div class="pb-2 mb-2"></div>
{{ form_end(form) }}
