{% form_theme form 'form/help_theme.html.twig' %}

{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

<div class="row">
	<div class="col">
		{{ form_row(form.dataValutazione) }}
	</div>
</div>
<div class="form-floating">
	<h4>Equilibrio</h4>
</div>
<div class="row">
	<div class="col">
		{{ form_label(form.equilibrioSeduto) }}
		{{ form_help(form.equilibrioSeduto) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.equilibrioSeduto) }}
		{{ form_errors(form.equilibrioSeduto) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.sedia) }}
		{{ form_help(form.sedia) }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.sedia) }}
		{{ form_errors(form.sedia) }}
	</div>
</div>
<br>

<div class="row">
	<div class="col">
		{{ form_label(form.alzarsi) }}
		{{ form_help(form.alzarsi) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.alzarsi) }}
		{{ form_errors(form.alzarsi) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.stazioneEretta) }}
		{{ form_help(form.stazioneEretta) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.stazioneEretta) }}
		{{ form_errors(form.stazioneEretta) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.stazioneErettaProlungata) }}
		{{ form_help(form.stazioneErettaProlungata) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.stazioneErettaProlungata) }}
		{{ form_errors(form.stazioneErettaProlungata) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.romberg) }}
		{{ form_help(form.romberg) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.romberg) }}
		{{ form_errors(form.romberg) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.rombergSensibilizzato) }}
		{{ form_help(form.rombergSensibilizzato) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.rombergSensibilizzato) }}
		{{ form_errors(form.rombergSensibilizzato) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.girarsi1) }}
		{{ form_help(form.girarsi1) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.girarsi1) }}
		{{ form_errors(form.girarsi1) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.girarsi2) }}
		{{ form_help(form.girarsi2) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.girarsi2) }}
		{{ form_errors(form.girarsi2) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.sedersi) }}
		{{ form_help(form.sedersi) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.sedersi) }}
		{{ form_errors(form.sedersi) }}
	</div>
</div>
<br>


<div class="form-floating">
	<h4>Andatura</h4>
</div>
<div class="row">
	<div class="col">
		{{ form_label(form.inizioDeambulazione) }}
		{{ form_help(form.inizioDeambulazione) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.inizioDeambulazione) }}
		{{ form_errors(form.inizioDeambulazione) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.piedeDx) }}
		{{ form_help(form.piedeDx) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.piedeDx) }}
		{{ form_errors(form.piedeDx) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.piedeDx2) }}
		{{ form_help(form.piedeDx2) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.piedeDx2) }}
		{{ form_errors(form.piedeDx2) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.piedeSx) }}
		{{ form_help(form.piedeSx) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.piedeSx) }}
		{{ form_errors(form.piedeSx) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.piedeSx2) }}
		{{ form_help(form.piedeSx2) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.piedeSx2) }}
		{{ form_errors(form.piedeSx2) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.simmetriaPasso) }}
		{{ form_help(form.simmetriaPasso) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.simmetriaPasso) }}
		{{ form_errors(form.simmetriaPasso) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.continuitaPasso) }}
		{{ form_help(form.continuitaPasso) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.continuitaPasso) }}
		{{ form_errors(form.continuitaPasso) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.traiettoria) }}
		{{ form_help(form.traiettoria) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.traiettoria) }}
		{{ form_errors(form.traiettoria) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.tronco) }}
		{{ form_help(form.tronco) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.tronco) }}
		{{ form_errors(form.tronco) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		{{ form_label(form.cammino) }}
		{{ form_help(form.cammino) }}
	</div>
</div>

<div class="row">
	<div class="col">
		{{ form_widget(form.cammino) }}
		{{ form_errors(form.cammino) }}
	</div>
</div>
<br>

<button class="btn btn-primary">{{ button_label|default('Salva') }}</button>
{{ form_end(form) }}
