{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}

<div class="row">
	<div class="col">
		{{ form_row(form.dataValutazione) }}
	</div>
</div>
<div class="form-floating">
	<h4>Equilibrio</h4>
</div>
<div class="row">
	<div class="col col-lg-2">
		{{ form_label(form.equilibrioSeduto) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaEquilibrioSeduto" role="button" aria-expanded="false" aria-controls="legendaEquilibrioSeduto"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaEquilibrioSeduto" class="collapse collapse-info">
			<strong>0</strong>
			Si inclina o scivola dalla sedia.
			<strong>1</strong>
			E' stabile, sicuro.
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.equilibrioSeduto) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-2">
		{{ form_label(form.sedia) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaSedia" role="button" aria-expanded="false" aria-controls="legendaSedia"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaSedia" class="collapse collapse-info">
			<strong>0</strong>
			E' incapace senza aiuto.
			<strong>1</strong>
			Deve aiutarsi con le braccia.
			<strong>2</strong>
			Si alza senza aiutarsi con le braccia.
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.sedia) }}
	</div>
</div>
<br>

<div class="row">
	<div class="col col-lg-2">
		{{ form_label(form.alzarsi) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaAlzarsi" role="button" aria-expanded="false" aria-controls="legendaAlzarsi"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaAlzarsi" class="collapse collapse-info">
			<strong>0</strong>
			E’ incapace senza aiuto
			<strong>1</strong>
			Capace ma richiede più di un tentativo
			<strong>2</strong>
			Capace al primo tentativo
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.alzarsi) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-2">
		{{ form_label(form.stazioneEretta) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaStazioneEretta" role="button" aria-expanded="false" aria-controls="legendaStazioneEretta"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaStazioneEretta" class="collapse collapse-info">
			<strong>0</strong>
			Instabile (vacilla, muove i piedi, oscilla il tronco)
			<strong>1</strong>
			Stabile grazie all’ausilio di un bastone o altri ausili
			<strong>2</strong>
			Stabile senza ausili per il cammino
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.stazioneEretta) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.stazioneErettaProlungata) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaStazioneErettaProlungata" role="button" aria-expanded="false" aria-controls="legendaStazioneErettaProlungata"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaStazioneErettaProlungata" class="collapse collapse-info">
			<strong>0</strong>
			Instabile (vacilla, muove i piedi, oscilla il tronco)
			<strong>1</strong>
			Stabile ma a base larga (malleoli mediali dist. > 10 cm)
			<strong>2</strong>
			Stabile a base stretta senza supporti
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.stazioneErettaProlungata) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.romberg) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaRomberg" role="button" aria-expanded="false" aria-controls="legendaRomberg"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaRomberg" class="collapse collapse-info">
			<strong>0</strong>
			Instabile
			<strong>1</strong>
			Stabile
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.romberg) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.rombergSensibilizzato) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaRombergSensibilizzato" role="button" aria-expanded="false" aria-controls="legendaRombergSensibilizzato"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaRombergSensibilizzato" class="collapse collapse-info">
			<strong>0</strong>
			Incomincia a cadere
			<strong>1</strong>
			Oscilla ma si riprende da solo
			<strong>2</strong>
			Stabile
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.rombergSensibilizzato) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.girarsi1) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaGirarsi1" role="button" aria-expanded="false" aria-controls="legendaGirarsi1"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaGirarsi1" class="collapse collapse-info">
			<strong>0</strong>
			A passi discontinui
			<strong>1</strong>
			A passi continui
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.girarsi1) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.girarsi2) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaGirarsi2" role="button" aria-expanded="false" aria-controls="legendaGirarsi2"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaGirarsi2" class="collapse collapse-info">
			<strong>0</strong>
			Instabile (si aggrappa, oscilla)
			<strong>1</strong>
			Stabile
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.girarsi2) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.sedersi) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaSedersi" role="button" aria-expanded="false" aria-controls="legendaSedersi"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaSedersi" class="collapse collapse-info">
			<strong>0</strong>
			Insicuro (sbaglia la distanza, cade sulla sedia)
			<strong>1</strong>
			Usa le braccia o ha un movimento discontinuo
			<strong>2</strong>
			Sicuro, movimenti continui
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.sedersi) }}
	</div>
</div>
<br>


<div class="form-floating">
	<h4>Andatura</h4>
</div>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.inizioDeambulazione) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaInizioDeambulazione" role="button" aria-expanded="false" aria-controls="legendaInizioDeambulazione"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaInizioDeambulazione" class="collapse collapse-info">
			<strong>0</strong>
			Una certa esitazione o più tentativi
			<strong>1</strong>
			Nessuna esitazione
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.inizioDeambulazione) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.piedeDx) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaPiedeDx" role="button" aria-expanded="false" aria-controls="legendaPiedeDx"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaPiedeDx" class="collapse collapse-info">
			<strong>0</strong>
			Durante il passo il piede dx non supera il sx
			<strong>1</strong>
			Il piede dx supera il sx
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.piedeDx) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.piedeDx2) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaPiedeDx2" role="button" aria-expanded="false" aria-controls="legendaPiedeDx2"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaPiedeDx2" class="collapse collapse-info">
			<strong>0</strong>
			Il piede dx non si alza completamente dal pavimento
			<strong>1</strong>
			Il piede dx si alza completamente dal pavimento
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.piedeDx2) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.piedeSx) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaPiedeSx" role="button" aria-expanded="false" aria-controls="legendaPiedeSx"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaPiedeSx" class="collapse collapse-info">
			<strong>0</strong>
			Durante il passo il piede sx non supera il dx
			<strong>1</strong>
			Il piede sx supera il dx
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.piedeSx) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col col-lg-3">
		{{ form_label(form.piedeSx2) }}
		<a class="bi bi-eye" style="color:cyan;" data-bs-toggle="collapse" href="#legendaPiedeSx2" role="button" aria-expanded="false" aria-controls="legendaPiedeSx2"></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="legendaPiedeSx2" class="collapse collapse-info">
			<strong>0</strong>
			Il piede sx non si alza completamento dal pavimento
			<strong>1</strong>
			Il piede sx si alza completamento dal pavimento
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_widget(form.piedeSx2) }}
	</div>
</div>
<br>


<div class="accordion" id="accordionPanel17">
	<div class="col-lg-12 col-12">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-heading17">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse17" aria-expanded="true" aria-controls="panelsStayOpen-collapse17">
					Descrizione simmetria passo
				</button>
			</h2>
			<div id="panelsStayOpen-collapse17" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading17">
				<div class="accordion-body">
					<strong>0</strong>
					Il passo dx e sx non sembrano uguali
					<strong>1</strong>
					Il passo dx e sx sembrano uguali
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.simmetriaPasso) }}
	</div>
</div>
<div class="accordion" id="accordionPanel18">
	<div class="col-lg-12 col-12">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-heading18">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse18" aria-expanded="true" aria-controls="panelsStayOpen-collapse18">
					Descrizione continuità passo
				</button>
			</h2>
			<div id="panelsStayOpen-collapse18" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading18">
				<div class="accordion-body">
					<strong>0</strong>
					Interrotto o discontinuo
					<strong>1</strong>
					Continuo
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.continuitaPasso) }}
	</div>
</div>
<div class="accordion" id="accordionPanel19">
	<div class="col-lg-12 col-12">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-heading19">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse19" aria-expanded="true" aria-controls="panelsStayOpen-collapse19">
					Descrizione traiettoria
				</button>
			</h2>
			<div id="panelsStayOpen-collapse19" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading19">
				<div class="accordion-body">
					<strong>0</strong>
					Marcata deviazione
					<strong>1</strong>
					Lieve o modesta deviazione o uso di ausili
					<strong>2</strong>
					Assenza di deviazione o uso di ausili
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.traiettoria) }}
	</div>
</div>
<div class="accordion" id="accordionPanel20">
	<div class="col-lg-12 col-12">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-heading20">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse20" aria-expanded="true" aria-controls="panelsStayOpen-collapse20">
					Descrizione tronco
				</button>
			</h2>
			<div id="panelsStayOpen-collapse20" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading20">
				<div class="accordion-body">
					<strong>0</strong>
					Marcata oscillazione o uso di ausili
					<strong>1</strong>
					Nessuna oscillazione ma flessione di gambe, ginocchia schiena o allargamento delle braccia durante il cammino
					<strong>2</strong>
					Nessuna oscillazione, flessione o uso di ausili
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.tronco) }}
	</div>
</div>
<div class="accordion" id="accordionPanel21">
	<div class="col-lg-12 col-12">
		<div class="accordion-item">
			<h2 class="accordion-header" id="panelsStayOpen-heading21">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse21" aria-expanded="true" aria-controls="panelsStayOpen-collapse21">
					Descrizione cammino
				</button>
			</h2>
			<div id="panelsStayOpen-collapse21" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading21">
				<div class="accordion-body">
					<strong>0</strong>
					I talloni sono separati
					<strong>1</strong>
					I talloni quasi si toccano durante il cammino
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form_row(form.cammino) }}
	</div>
</div>

<button class="btn btn-primary">{{ button_label|default('Salva') }}</button>
{{ form_end(form) }}
