{% extends 'base.html.twig' %}

{% block title %}Bisogni{% endblock %}

{% block body %}
    <h1>Bisogni</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bisogni.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ bisogni.nome }}</td>
            </tr>
        </tbody>
    </table>

     <a class="btn btn-danger" href="{{ path('app_controller_pai_bisogni_index') }}">Indietro</a>

     <a class="btn btn-primary" href="{{ path('app_controller_pai_bisogni_edit', {'id': bisogni.id}) }}">Modifica</a>

    {{ include('controller_pai/bisogni/_delete_form.html.twig') }}
{% endblock %}
