{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}

{% if pareriMmg == null %}
Nessun parere del medico condotto
{% else %}
<div class="visualizzazione-desktop">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<table id="tabella-index-scale-scheda-pai" class="col-sm-12  table-striped table-condensed cf">
							<thead class="cf"></thead>
                            <tbody>
								<tr>
									<th>
										<th style="width: 300px;">Data inizio/fine</th>
										{% for scheda_pai in pratica.schedaPAIs %}
											{% if scheda_pai.idParereMmg != null %}
											<th>{{scheda_pai.dataInizio ? scheda_pai.dataInizio|date('d/m/Y') : ''}} -- {{scheda_pai.dataFine ? scheda_pai.dataFine|date('d/m/Y') : ''}}</th>
											{% endif %}
										{% endfor %}
									</th>
								</tr>
								<tr>
									<th>
										<th style="width: 300px;">Nome Progetto</th>
										{% for scheda_pai in pratica.schedaPAIs %}
											{% if scheda_pai.idParereMmg != null %}
											<td>{{scheda_pai.nomeProgetto}}</td>
											{% endif %}
										{% endfor %}
									</th>
								</tr>
                                <tr>
									<th>
										<th style="width: 300px;">Operatore</th>
										{% for scheda_pai in pratica.schedaPAIs %}
											{% if scheda_pai.idParereMmg != null %}
											<td>{{scheda_pai.idParereMmg.operatore.name}} {{scheda_pai.idParereMmg.operatore.surname}}</td>
											{% endif %}
										{% endfor %}
									</th>
								</tr>
                                <tr>
									<th>
										<th style="width: 300px;">Parere</th>
										{% for scheda_pai in pratica.schedaPAIs %}
											{% if scheda_pai.idParereMmg != null %}
											<td>{{scheda_pai.idParereMmg.parere}}</td>
											{% endif %}
										{% endfor %}
									</th>
								</tr>
                                <tr>
									<th>
										<th style="width: 300px;">Descrizione</th>
										{% for scheda_pai in pratica.schedaPAIs %}
											{% if scheda_pai.idParereMmg != null %}
											<td>{{scheda_pai.idParereMmg.descrizione}}</td>
											{% endif %}
										{% endfor %}
									</th>
								</tr>
                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="visualizzazione-mobile">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<table id="tabella-index-scale-scheda-pai" class="col-sm-12  table-striped table-condensed cf">
							<thead class="cf"></thead>
							<thead></thead>
                            <tbody>
                                <tr>
									<th>Nome Progetto</th>
									<td></td>
								</tr>
								{% for scheda_pai in pratica.schedaPAIs %}
									{% if scheda_pai.idParereMmg != null %}
									<tr>
										<td data-title='Data inizio/fine'>{{scheda_pai.dataInizio ? scheda_pai.dataInizio|date('d/m/Y') : ''}} -- {{scheda_pai.dataFine ? scheda_pai.dataFine|date('d/m/Y') : ''}}</td>
										<td>{{scheda_pai.nomeProgetto}}</td>
									</tr>
									{% endif %}
								{% endfor %}
                                <tr>
									<th>Operatore</th>
									<td></td>
								</tr>
								{% for scheda_pai in pratica.schedaPAIs %}
									{% if scheda_pai.idParereMmg != null %}
									<tr>
										<td data-title='Data inizio/fine'>{{scheda_pai.dataInizio ? scheda_pai.dataInizio|date('d/m/Y') : ''}} -- {{scheda_pai.dataFine ? scheda_pai.dataFine|date('d/m/Y') : ''}}</td>
										<td>{{scheda_pai.idParereMmg.operatore.name}} {{scheda_pai.idParereMmg.operatore.surname}}</td>
									</tr>
									{% endif %}
								{% endfor %}
                                <tr>
									<th>Parere</th>
									<td></td>
								</tr>
								{% for scheda_pai in pratica.schedaPAIs %}
									{% if scheda_pai.idParereMmg != null %}
									<tr>
										<td data-title='Data inizio/fine'>{{scheda_pai.dataInizio ? scheda_pai.dataInizio|date('d/m/Y') : ''}} -- {{scheda_pai.dataFine ? scheda_pai.dataFine|date('d/m/Y') : ''}}</td>
										<td>{{scheda_pai.idParereMmg.parere}}</td>
									</tr>
									{% endif %}
								{% endfor %}
                                <tr>
									<th>Descrizione</th>
									<td></td>
								</tr>
								{% for scheda_pai in pratica.schedaPAIs %}
									{% if scheda_pai.idParereMmg != null %}
									<tr>
										<td data-title='Data inizio/fine'>{{scheda_pai.dataInizio ? scheda_pai.dataInizio|date('d/m/Y') : ''}} -- {{scheda_pai.dataFine ? scheda_pai.dataFine|date('d/m/Y') : ''}}</td>
										<td>{{scheda_pai.idParereMmg.descrizione}}</td>
									</tr>
									{% endif %}
								{% endfor %}
                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<br>