<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<div class="container-fluid container-lg">
				<nav class="navbar navbar-custom">
					<ul class="nav row-1 cols-6 gap-3">
						<li>
							<a href="{{ path('app_scadenzario_index') }}" class="nav-link px-2 text-white" style="font-size:20px;">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a {% if app.user.roles[0] == 'ROLE_USER' %} class="invisible" {% endif %} class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:20px;">
								Menu
							</a>
							<ul class="dropdown-menu dropdown-menu-dark">
								<li>
									<a class="dropdown-item" href="{{ path('app_elenco_schede') }}">Schede</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_paziente_index') }}">Pazienti</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_user_index') }}">Operatori</a>
								</li>
							</ul>
						</li>
						<li>
							<a {% if app.user.roles[0] == 'ROLE_USER' %} class="invisible" {% endif %} href="{{ path('app_scheda_pai_sincronizza') }}" class="nav-link px-2 text-white" style="font-size:20px;">Sincronizza</a>
						</li>
					</ul>
					<ul class="nav row-1 cols-6 gap-3">
						<li>
							<h1 class="text-light">Module Manager</h1>
						</li>
					</ul>
					<ul class="nav row-1 cols-6 gap-3">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-grid" style="font-size:25px;"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-dark text-small" >
								<div class="row">
									<div class="col">
										<a class="dropdown-icon-item" href="https://demo.sdmanager.it/index.phtml">
											<img src="/image/brand.png" width="60" height="70" alt="SD Menager">
										</a>
								
									</div>
								</div>
							</ul>
						</li>
					</li>
					<li>
						<a class="button nav-link px-1 text-white" id="dark-mode" type="checkbox" onclick="window.darkMode()">
							<i class="bi bi-moon-fill" style="font-size:25px;"></i>
						</a>
					</li>
					<li>
						<a class="nav-link px-1 text-white" href="http://localhost:49153/" role="button">
							<i class="bi bi-envelope" style="font-size:25px;"></i>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-circle" style="font-size:25px;"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-dark text-small">
							<li>
								<a class="dropdown-item" href="{{ path('app_profilo_show') }}">
									<i class="bi bi-person-circle"></i>
									Profilo</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_profilo_edit', {'id': app.user.id}) }}">
									<i class="bi bi-pencil-square"></i>
									Modifica Profilo</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_profilo_password', {'id': app.user.id}) }}">
									<i class="bi bi-key"></i>
									Modifica Password</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">
									<i class="bi bi-box-arrow-left"></i>
									Logout</a>
							</li>
						</ul>
					</li>
				</li>
			</ul>
		</body>
	</html>
</nav></body></html></div>{% endblock %}<div class="container-fluid container-lg"> {% block body %}{% endblock %}{% block foot %}<nav class="navbar navbar-custom"><ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
<li>
	<h6 class="text-light">Contatti e descrizione</h6>

</li></ul></nav>{% endblock %}</div></body></html>
