<div id="visualizza-tables">
    <table class="col-sm-12">
        <thead class="cf">
        <tbody>
        {% if variabileTest != 1%}
            <tr>
                <th>Id</th>
                <td>{{ chiusura_servizio.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Assistito</th>
                <th>{{chiusura_servizio.schedaPAI.nomeAssistito}} {{chiusura_servizio.schedaPAI.cognomeAssistito}}</td>
            </tr>
            <tr>
				<th>Operatore</th>
				<td>{{ chiusura_servizio.operatore.name }} {{chiusura_servizio.operatore.surname}}</td>
			</tr>
            <tr>
                <th>Conclusioni</th>
                <td>{{ chiusura_servizio.conclusioni }}</td>
            </tr>
            <tr>
                <th>Data di valutazione</th>
                <td>{{ chiusura_servizio.dataValutazione ? chiusura_servizio.dataValutazione|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>
