{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}
<div class="container-fluid text-center">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<table class="col-sm-12">
							<thead class="cf"></thead>
							<tbody>
								<tr>
									<th>
										<h5 class="card-text">Operatore</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.operatore.name }}
											{{painad.operatore.surname}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Data di valutazione</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.dataValutazione ? painad.dataValutazione|date('Y-m-d') : '' }}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Respiro</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.respiro}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Vocalizzazione</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.vocalizzazione}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Espressione facciale</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.espressioneFacciale}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Linguaggio del corpo</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.linguaggioDelCorpo}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Consolabilità</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.consolabilita}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Totale</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ painad.totale}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Operazioni</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title" style="border-bottom-style: none;">
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
													Apri
												</button>
												<ul class="dropdown-menu">
													<li>
														<a class="dropdown-item" href="{{ path('app_painad_edit', {'id': painad.id}) }}">
															<i class="bi bi-pencil-square"></i>
															Modifica</a>
													</li>
													<li>
														<a class="dropdown-item" href="{{ path('app_painad_delete', {'id': painad.id, '_token': csrf_token('delete' ~ painad.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
															<i class="bi bi-trash3"></i>Cancella</a>
													</li>
												</ul>
											</div>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>