{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}
<div class="container-fluid text-center">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<table class="col-sm-12">
							<thead class="cf"></thead>
							<tbody>
								<tr>
									<th>
										<h5 class="card-text">Operatore</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ barthel.operatore.name }}
											{{barthel.operatore.surname}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Data di valutazione</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ barthel.dataValutazione ? barthel.dataValutazione|date('Y-m-d') : '' }}</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="pb-2 mb-4"></div>
					<div class="row">
						<div class="col">
							<table class="col-sm-12">
								<thead class="cf"></thead>
								<tbody>
									<tr>
										<th>
											<h5 class="card-text">Alimentazione</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.alimentazione}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Bagno Doccia</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.bagnoDoccia}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Igiene Personale</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.igienePersonale}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Abbigliamento</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.abbigliamento}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Continenza Intestinale</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.continenzaIntestinale}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Continenza Urinaria</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.continenzaUrinaria}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Toilet</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.toilet}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Totale Valutazione Funzionale</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title" id="totale">{{ barthel.totaleValutazioneFunzionale}}</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col">
							<table class="col-sm-12">
								<thead class="cf"></thead>
								<tbody>
									<tr>
										<th>
											<h5 class="card-text">Trasferimento Letto Sedia</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.trasferimentoLettoSedia}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Scale</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.scale}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Deambulazione</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.deambulazione ? 'Si' : 'No' }}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Deambulazione Valida</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.deambulazioneValida}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Uso Carrozzina</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title">{{ barthel.usoCarrozzina}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Totale</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title" id="totale">{{ barthel.totale}}</p>
										</td>
									</tr>
									<tr>
										<th>
											<h5 class="card-text">Operazioni</h5>
										</th>
									</tr>
									<tr>
										<td>
											<p class="card-title" style="border-bottom-style: none;">
												<div class="btn-group" role="group">
													<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
														Apri
													</button>
													<ul class="dropdown-menu">
														<li>
															<a class="dropdown-item" href="{{ path('app_barthel_edit', {'id': barthel.id}) }}">
																<i class="bi bi-pencil-square"></i>
																Modifica</a>
														</li>
														<li>
															<a class="dropdown-item" href="{{ path('app_barthel_delete', {'id': barthel.id, '_token': csrf_token('delete' ~ barthel.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
																<i class="bi bi-trash3"></i>Cancella</a>
														</li>
													</ul>
												</div>
											</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
