{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}
<div class="container-fluid text-center">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<table class="col-sm-12">
							<thead class="cf"></thead>
							<tbody>
								<tr>
									<th>
										<h5 class="card-text">Operatore</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ valutazione_figura_professionale.operatore.name }}
											{{valutazione_figura_professionale.operatore.surname}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Tipo di Operatore</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ valutazione_figura_professionale.tipoOperatore }}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Data di valutazione</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{ valutazione_figura_professionale.dataValutazione ? valutazione_figura_professionale.dataValutazione|date('Y-m-d') : '' }}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Diagnosi Professionale</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title" style="border-bottom-style: none;">
											{% if valutazione_figura_professionale.diagnosi is empty %}
												Nessuno
											{% else %}
												{% for i in valutazione_figura_professionale.diagnosi %}
													<li>{{ i.descrizione }}</li>
												{% endfor %}
											{% endif %}
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col">
						<table class="col-sm-12">
							<thead class="cf"></thead>
							<tbody>
								<tr>
									<th>
										<h5 class="card-text">Obbiettivi da raggiungere</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title" style="border-bottom-style: none;">
											{% if valutazione_figura_professionale.obiettivi is empty %}
												Nessuno
											{% else %}
												{% for i in valutazione_figura_professionale.obiettivi %}
													<li>{{ i.descrizione }}</li>
												{% endfor %}
											{% endif %}
										</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Frequenza</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">
											{% if  valutazione_figura_professionale.frequenza is empty %}
												Nessuno
											{% else %}
												{{ valutazione_figura_professionale.frequenza }}
											{% endif %}
										</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Osservazioni</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">
											{% if  valutazione_figura_professionale.osservazioni is empty %}
												Nessuno
											{% else %}
												{{ valutazione_figura_professionale.osservazioni }}
											{% endif %}
										</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Operazioni</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title" style="border-bottom-style: none;">
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
													Apri
												</button>
												<ul class="dropdown-menu">
													<li>
														<a class="dropdown-item" href="{{ path('app_valutazione_figura_professionale_edit', {'id': valutazione_figura_professionale.id}) }}">
															<i class="bi bi-pencil-square"></i>
															Modifica</a>
													</li>
													<li>
														<a class="dropdown-item" href="{{ path('app_valutazione_figura_professionale_delete', {'id': valutazione_figura_professionale.id, '_token': csrf_token('delete' ~ valutazione_figura_professionale.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
															<i class="bi bi-trash3"></i>Cancella</a>
													</li>
												</ul>
											</div>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
