<div id="visualizza-tables">
	<table class="col-sm-12">
		<thead class="cf"></thead>
		<tbody>
		{% if variabileTest != 1%}
			<tr>
				<th>Id</th>
				<td>{{ barthel.id }}</td>
			</tr>
		{% endif %}
			<tr>
				<th>Operatore</th>
				<td>{{ barthel.operatore.name }} {{barthel.operatore.surname}}</td>
			</tr>
			<tr>
				<th>Data di valutazione</th>
				<td>{{ barthel.dataValutazione ? barthel.dataValutazione|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Alimentazione</th>
				<td>{{ barthel.alimentazione }}</td>
			</tr>
			<tr>
				<th>Bagno Doccia</th>
				<td>{{ barthel.bagnoDoccia }}</td>
			</tr>
			<tr>
				<th>Igiene Personale</th>
				<td>{{ barthel.igienePersonale }}</td>
			</tr>
			<tr>
				<th>Abbigliamento</th>
				<td>{{ barthel.abbigliamento }}</td>
			</tr>
			<tr>
				<th>Continenza Intestinale</th>
				<td>{{ barthel.continenzaIntestinale }}</td>
			</tr>
			<tr>
				<th>Continenza Urinaria</th>
				<td>{{ barthel.continenzaUrinaria }}</td>
			</tr>
			<tr>
				<th>Toilet</th>
				<td>{{ barthel.toilet }}</td>
			</tr>
			<tr>
				<th>Totale Valutazione Funzionale</th>
				<td id="totale">{{ barthel.totaleValutazioneFunzionale }}</td>
			</tr>
			<tr>
				<th>Trasferimento Letto Sedia</th>
				<td>{{ barthel.trasferimentoLettoSedia }}</td>
			</tr>
			<tr>
				<th>Scale</th>
				<td>{{ barthel.scale }}</td>
			</tr>
			<tr>
				<th>Deambulazione</th>
				<td>{{ barthel.deambulazione ? 'Si' : 'No' }}</td>
			</tr>
			<tr>
				<th>DeambulazioneValida</th>
				<td>{{ barthel.deambulazioneValida }}</td>
			</tr>
			<tr>
				<th>Uso Carrozzina</th>
				<td>{{ barthel.usoCarrozzina }}</td>
			</tr>
			<tr>
				<th>Totale</th>
				<td id="totale">{{ barthel.totale }}</td>
			</tr>
			<tr>
				<th>Operazioni</th>
				<td>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Apri
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_barthel_edit', {'id': barthel.id}) }}">
									<i class="bi bi-pencil-square"></i>
									Modifica</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_barthel_delete', {'id': barthel.id, '_token': csrf_token('delete' ~ barthel.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
									<i class="bi bi-trash3"></i>Cancella</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
