{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}

<div class="visualizzazione-desktop">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<table id="tabella-index-scale-scheda-pai" class="col-sm-12  table-striped table-condensed cf">
							<thead class="cf"></thead>
							<thead>
								<tr>
									<td></td>
									{% for cdr in cdrs %}
										<th data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr>
									<th style="width: 300px;">Memoria</th>
									{% for cdr in cdrs %}
                                        {% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.memoria}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Orientamento</th>
									{% for cdr in cdrs %}
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.orientamento}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Giudizio e soluzione di problemi</th>
									{% for cdr in cdrs %}
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.giudizio}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Attività sociali</th>
									{% for cdr in cdrs %}
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.attivitaSociali}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Casa e tempo libero</th>
									{% for cdr in cdrs %}
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.casa}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th>Cura personale</th>
									{% for cdr in cdrs %}
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.curaPersonale}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									{% endfor %}
								</tr>
                                <tr>
									<th>CDR 4</th>
									{% for cdr in cdrs %}
										{% if cdr.cdr4 == true %}
                                            <td>
											    <i class="bi bi-check-circle-fill" style="color:green"></i>
										    </td>
                                        {% else %}
                                            <td>
											    <i class="bi bi-dash-circle-fill" style="color:grey"></i>
										    </td>
                                        {% endif %}
									{% endfor %}
								</tr>
                                <tr>
									<th>CDR 5</th>
									{% for cdr in cdrs %}
										{% if cdr.cdr5 == true %}
                                            <td>
											    <i class="bi bi-check-circle-fill" style="color:green"></i>
										    </td>
                                        {% else %}
                                            <td>
											    <i class="bi bi-dash-circle-fill" style="color:grey"></i>
										    </td>
                                        {% endif %}
									{% endfor %}
								</tr>
								<tr>
									<th></th>
									{% for cdr in cdrs %}
										<td><br></td>
									{% endfor %}
								</tr>
								<tr>
									<th>Operatore</th>
									{% for cdr in cdrs %}
										<td>{{ cdr.autoreCdr.name }}
											{{cdr.autoreCdr.surname}}</td>
									{% endfor %}
								</tr>
								<tr>
									<th></th>
									{% for cdr in cdrs %}
										<td>
											<p class="card-title" id="totale" style="border-bottom-style: none;">
												<div class="btn-group" role="group">
													<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
														Apri
													</button>
													<ul class="dropdown-menu">
														<li>
															<a class="dropdown-item" href="{{ path('app_cdr_edit', {'id': cdr.id}) }}">
																<i class="bi bi-pencil-square"></i>
																Modifica</a>
														</li>
														<li>
															<a class="dropdown-item" href="{{ path('app_cdr_delete', {'id': cdr.id, '_token': csrf_token('delete' ~ cdr.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
																<i class="bi bi-trash3"></i>Cancella</a>
														</li>
													</ul>
												</div>
											</p>
										</td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="visualizzazione-mobile">
	<div class="container-fluid text-center">
		<div class="row">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<table id="tabella-index-scale-scheda-pai" class="col-sm-12  table-striped table-condensed cf">
							<thead class="cf"></thead>
							<thead></thead>
							<tbody>
								<tr>
									<th>Memoria</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.memoria}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>Orientamento</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.orientamento}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>Giudizio e soluzione di problemi</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.giudizio}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>Attività sociali</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.attivitaSociali}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>Casa e tempo libero</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.casa}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>Cura personale</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr4 == false and cdr.cdr5 == false %}
										    <td>{{ cdr.curaPersonale}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>CDR 4</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr4 == true %}
                                            <td>
											    <i class="bi bi-check-circle-fill" style="color:green"></i>
										    </td>
                                        {% else %}
                                            <td>
											    <i class="bi bi-dash-circle-fill" style="color:grey"></i>
										    </td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>CDR 5</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										{% if cdr.cdr5 == true %}
                                            <td>
											    <i class="bi bi-check-circle-fill" style="color:green"></i>
										    </td>
                                        {% else %}
                                            <td>
											    <i class="bi bi-dash-circle-fill" style="color:grey"></i>
										    </td>
                                        {% endif %}
									</tr>
								{% endfor %}
								<tr>
									<th>Operatore</th>
									<td></td>
								</tr>
								{% for cdr in cdrs %}
									<tr>
										<td data-title='Data Valutazione'>{{cdr.dataValutazione ? cdr.dataValutazione|date('d/m/Y') : ''}}</td>
										<th>{{ cdr.autoreCdr.name }}
											{{cdr.autoreCdr.surname}}
											<br>
											<p class="card-title" id="totale" style="border-bottom-style: none;">
												<div class="btn-group" role="group">
													<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
														Apri
													</button>
													<ul class="dropdown-menu">
														<li>
															<a class="dropdown-item" href="{{ path('app_cdr_edit', {'id': cdr.id}) }}">
																<i class="bi bi-pencil-square"></i>
																Modifica</a>
														</li>
														<li>
															<a class="dropdown-item" href="{{ path('app_cdr_delete', {'id': cdr.id, '_token': csrf_token('delete' ~ cdr.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
																<i class="bi bi-trash3"></i>Cancella</a>
														</li>
													</ul>
												</div>
											</p>
										</th>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
