<div id="visualizza-tables">
    <table class="col-sm-12">
        <thead class="cf">
        <tbody>
        {% if variabileTest != 1%}
            <tr>
                <th>Id</th>
                <td>{{ lesioni.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Assistito</th>
                <td>{{lesioni.schedaPAI.nomeAssistito}} {{lesioni.schedaPAI.cognomeAssistito}}</td>
            </tr>
            <tr>
				<th>Operatore</th>
				<td>{{ lesioni.operatore.name }} {{lesioni.operatore.surname}}</td>
			</tr>
            <tr>
                <th>Data Rivalutazioni Settimanali</th>
                <td>{{ lesioni.dataRivalutazioniSettimanali ? lesioni.dataRivalutazioniSettimanali|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tipologia Lesione</th>
                <td>{{ lesioni.tipologiaLesione }}</td>
            </tr>
            <tr>
                <th>Numero Sede Lesione</th>
                <td>{{ lesioni.numeroSedeLesione }}</td>
            </tr>
            <tr>
                <th>Grado Lesione</th>
                <td>{{ lesioni.gradoLesione }}</td>
            </tr>
            <tr>
                <th>Condizione Lesione</th>
                <td>{{ lesioni.condizioneLesione }}</td>
            </tr>
            <tr>
                <th>Bordi Lesione</th>
                <td>{{ lesioni.bordiLesione }}</td>
            </tr>
            <tr>
                <th>Cute Perilesionale</th>
                <td>{{ lesioni.cutePerilesionale }}</td>
            </tr>
            <tr>
                <th>Note sulla lesione</th>
                <td>{{ lesioni.noteSullaLesione }}</td>
            </tr>
            <tr>
				<th>Operazioni</th>
				<td>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Apri
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_lesioni_edit', {'id': lesioni.id}) }}">
									<i class="bi bi-pencil-square"></i>
									Modifica</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_lesioni_delete', {'id': lesioni.id, '_token': csrf_token('delete' ~ lesioni.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
									<i class="bi bi-trash3"></i>Cancella</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
        </tbody>
    </table>
</div>