<div id="visualizza-tables">
    <table class="col-sm-12">
        <thead class="cf">
        <tbody>
        {% if variabileTest != 1%}
            <tr>
                <th>Id</th>
                <td>{{ parere_mmg.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Assistito</th>
                <td>{{parere_mmg.schedaPAI.nomeAssistito}} {{parere_mmg.schedaPAI.cognomeAssistito}}</td>
            </tr>
            <tr>
				<th>Operatore</th>
				<td>{{ parere_mmg.operatore.name }} {{parere_mmg.operatore.surname}}</td>
			</tr>
            <tr>
                <th>Parere</th>
                <td>{{ parere_mmg.parere}}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ parere_mmg.descrizione }}</td>
            </tr>
        </tbody>
    </table>
</div>