<div id="visualizza-tables">
    <table class="col-sm-12">
        <thead class="cf">
        <tbody>
        {% if variabileTest != 1%}
            <tr>
                <th>Id</th>
                <td>{{ braden.id }}</td>
            </tr>
        {% endif %}
            <tr>
				<th>Operatore</th>
				<td>{{ braden.operatore.name }} {{braden.operatore.surname}}</td>
			</tr>
            <tr>
                <th>Percezione Sensoriale</th>
                <td>{{ braden.percezioneSensoriale }}</td>
            </tr>
            <tr>
                <th>Umidità</th>
                <td>{{ braden.umidita }}</td>
            </tr>
            <tr>
                <th>Attività</th>
                <td>{{ braden.attivita }}</td>
            </tr>
            <tr>
                <th>Mobilità</th>
                <td>{{ braden.mobilita }}</td>
            </tr>
            <tr>
                <th>Nutrizione</th>
                <td>{{ braden.nutrizione }}</td>
            </tr>
            <tr>
                <th>Frizione Scivolamento</th>
                <td>{{ braden.frizioneScivolamento }}</td>
            </tr>
            <tr>
                <th>Data Valutazione</th>
                <td>{{ braden.dataValutazione ? braden.dataValutazione|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Totale</th>
                <td id="totale">{{ braden.totale }}</td>
            </tr>
            <tr>
				<th>Operazioni</th>
				<td>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							Apri
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_form_pai_braden_edit', {'id': braden.id}) }}">
									<i class="bi bi-pencil-square"></i>
									Modifica</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_form_pai_braden_delete', {'id': braden.id, '_token': csrf_token('delete' ~ braden.id)}) }}" onclick="return confirm('Sei sicuro di voler cancellare questa scheda?');">
									<i class="bi bi-trash3"></i>Cancella</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
        </tbody>
    </table>
</div>