{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}
<div class="container-fluid text-center">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<table class="col-sm-12">
							<thead class="cf"></thead>
							<tbody>
								<tr>
									<th>
										<h5 class="card-text">Nome</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{assistito.nome}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Cognome</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{assistito.cognome}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Codice Fiscale</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{assistito.codiceFiscale}}</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col">
						<table class="col-sm-12">
							<thead class="cf"></thead>
							<tbody>
								<tr>
									<th>
										<h5 class="card-text">Indirizzo</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{assistito.indirizzo}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Comune</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{assistito.comune}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">Provincia</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{assistito.provincia}}</p>
									</td>
								</tr>
								<tr>
									<th>
										<h5 class="card-text">CAP</h5>
									</th>
								</tr>
								<tr>
									<td>
										<p class="card-title">{{assistito.cap}}</p>
									</td>
								</tr>
							</tbody>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div></div>
