<html>
	<head>
		<style>

			div {
				background-color: white;
			}
			h1,
			h4,
			h3 {
				color: black;
				text-align: left;
				padding: 10px;
			}

			.tabella {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;
				width: 100%;

			}

			.tabella td,
			.tabella th {
				border: 1px solid #ddd;
				padding: 8px;
				width: 50%;
				font-size: x-large
			}

			.tabella tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			.tabella tr:hover {
				background-color: #ddd;
			}

			.tabella th {
				padding: 12px 50px;
				text-align: left;
				background-color: #31363c;
				color: white;
			}
			.blog-footer {
				padding: 2.5rem;
				color: white;
				text-align: center;
				background-color: #31363c;
				border-top: 0.05rem solid #e5e5e5;
				display: flex;
			}
			.blog-footer .left {
				flex: 1;
				text-align: left;
				padding: 10px;
				background-color: #31363c;
			}
			.blog-footer .right {
				padding-right: 10px;
				background-color: #31363c;
			}
			.navbar-mobile {
				display: flex;
				background-color: #31363c;
				min-height: var(--ct-topbar-height);
				margin-left: var(--ct-leftbar-width);
				color: white;
			}
		</style>
	</head>
	<body>
		<div>
			<nav class="navbar navbar-mobile">
				<ul class="nav row-1 cols-12 gap-3">
					<a style="font-size:60px;padding-left:15px;">Module Manager</a>
				</ul>
			</nav>
			{% if testoApprovata1 != '' %}
				<h3>{{testoApprovata1}}<br></h3>
				<h3>Schede Pai da attivare:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in descrizioneSchedeApprovate %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Nome Progetto</th>
								<td data-title='Nome Progetto'>{{d.nome_progetto}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>{{ d.stato}}</td>
							</tr>
							<tr>
								<th>Configura</th>
								<td data-title='Configura'>
									<a href="{{url}}/scheda_pai/app_scadenzario_index/{{d.id}}/edit">configura</a>
								</td>
							</tr>
							<tr>
								<th>Compila Valutazione Generale</th>
								<td data-title='Valutazione generale'>
									<a href='{{url}}/valutazione_generale/app_scadenzario_index/new?id_pai={{d.id}}'>compila_valutazione</a>
								</td>

							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}

			{% if testoRitardi1 != '' %}
				<h3>{{testoRitardi1}}<br></h3>
				<h3>Schede con dei ritardi sulla compilazione scale di valutazione:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in descrizioneRitardi %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Nome Progetto</th>
								<td data-title='Nome Progetto'>{{d.nome_progetto}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Barthel in ritardo</th>
								<td data-title='Barthel'>{{ d.barthel}}</td>
							</tr>
							<tr>
								<th>Braden in ritardo</th>
								<td data-title='Braden'>{{ d.braden}}</td>
							</tr>
							<tr>
								<th>SPMSQ in ritardo</th>
								<td data-title='Spmsq'>{{ d.spmsq}}</td>
							</tr>
							<tr>
								<th>Tinetti in ritardo</th>
								<td data-title='Tinetti'>{{ d.tinetti}}</td>
							</tr>
							<tr>
								<th>VAS in ritardo</th>
								<td data-title='Vas'>{{ d.vas}}</td>
							</tr>
							<tr>
								<th>Lesioni in ritardo</th>
								<td data-title='Lesioni'>{{ d.lesioni}}</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}

			{% if testoChiusura1 != '' %}
				<h3>Schede pai di progetti scaduti in attesa di chisura:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in descrizioneSchedeDaChiudere %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Nome Progetto</th>
								<td data-title='Nome Progetto'>{{d.nome_progetto}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>In Attesa Di Chiusura</td>
							</tr>

							<tr>
								<th>Chiudi</th>
								<td data-title='Chiudi'>
									<a href="{{url}}/scheda_pai/app_scadenzario_index/chiusura_scheda/{{d.id}}">chiudi</a>
								</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}

			{% if testoAttiva1 != '' %}
				<h3>{{testoAttiva1}}<br></h3>
				<h3>Schede con valutazioni professionali mancanti:<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in descrizioneValutazioneProfessionale %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Nome Progetto</th>
								<td data-title='Nome Progetto'>{{d.nome_progetto}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Valutazioni Mancanti</th>
								<td data-title='Valutazioni Mancante'>{{d.valore}}</td>
							</tr>
							<tr>
								<th>Compila Valutazione Professionale</th>
								<td data-title='Compila Valutazione Professionale'>
									<a href="{{url}}/valutazione_figura_professionale/app_scadenzario_index/new?id_pai={{d.id}}">compila</a>
								</td>
							</tr>

						</table>
					{% endfor %}
				</div>
			{% endif %}
			<div class="pb-2 mb-4"></div>
			<h3>
				<a href="{{url}}/scheda_pai">Vai all'elenco schede</a>
			</h3>
			<div class="pb-2 mb-4"></div>
		</div>

		{% block foot %}

			<footer class="blog-footer">
				<div class="left">
					<br>
					Module Manager è un servizio di Metarete Srl<br>
					<a href="" style="color:white;">Privacy</a>
					<a href="" style="color:white;">Cookie</a>
					<a href="" style="color:white;">About</a>
				</div>
				<div class="right">
					<figure class="figure">
						<img src="data:image/png;base64, {{image64}}" height="80px;">
					</figure>
				</div>
			</footer>

		{% endblock %}
	</body>
</html>
