<html>
	<head>
		<style>

			div {

				background-color: white;

			}
			h1,
			h4,
			h3 {
				color: black;
				text-align: left;
				padding: 10px;
			}

			.tabella {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;


			}

			.tabella td,
			.tabella th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			.tabella tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			.tabella tr:hover {
				background-color: #ddd;
			}

			.tabella th {
				padding: 12px 50px;
				text-align: left;
				background-color: #04AA6D;
				color: white;
			}
			
		</style>
	</head>
	<body>
		<div>
			<h1>Module Manager</h1>
			{% if schedeNuove != null %}
				<h3>Schede In Stato Nuova<br></h3>
				<h3>
					Le seguenti schede sono in stato nuova e devono essere approvate:
					<a href="http://localhost:54001/scheda_pai">Vai all'elenco schede</a>
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in testoEmailNuove %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Id</th>
								<td data-title='Id'>{{d.id}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>{{ d.stato}}</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}

			{% if schedeChiuse != null %}
				<h3>Schede in stato chiusa<br></h3>
				<h3>Le seguenti schede sono state chiuse di recente:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in testoEmailChiuse %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Id</th>
								<td data-title='Id'>{{d.id}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>{{ d.stato}}</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}

			{% if schedeChiuseConRinnovo is not empty %}
				<h3>Le seguenti schede sono state chiuse con rinnovo ed è necessario creare un nuovo progetto su SD manager:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in testoEmailChiuseConRinnovo %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Id</th>
								<td data-title='Id'>{{d.id}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>{{ d.stato}}</td>
							</tr>
							<tr>
								<th>Link</th>
								<td data-title='Link'>
									<a href={{d.link}}>Crea progetto</a>
								</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		{% block foot %}


			<h6 class="text-light">Contatti e descrizione</h6>


		{% endblock %}

	</body>
</html>
