<html>
	<head>
		<style>

			div {

				background-color: white;

			}
			h1,
			h4,
			h3 {
				color: black;
				text-align: left;
				padding: 10px;
			}

			.tabella {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;
				width: 100%;

			}

			.tabella td,
			.tabella th {
				border: 1px solid #ddd;
				padding: 8px;
				width: 50%;
				font-size: x-large;
			}

			.tabella tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			.tabella tr:hover {
				background-color: #ddd;
			}

			.tabella th {
				padding: 12px 50px;
				text-align: left;
				background-color: #31363c;
				color: white;
			}
			.blog-footer {
				padding: 2.5rem;
				color: white;
				text-align: center;
				background-color: #31363c;
				border-top: 0.05rem solid #e5e5e5;
				display: flex;
			}
			.blog-footer .left {
				flex: 1;
				text-align: left;
				padding: 10px;
				background-color: #31363c;
			}
			.blog-footer .right {
				padding-right: 10px;
				background-color: #31363c;
			}
			.navbar-mobile {
				display: flex;
				background-color: #31363c;
				min-height: var(--ct-topbar-height);
				margin-left: var(--ct-leftbar-width);
				color: white;
			}
		</style>
	</head>
	<body>
		<div>
			<nav class="navbar navbar-mobile">
				<ul class="nav row-1 cols-12 gap-3">
					<a style="font-size:60px;padding-left:15px;">Module Manager</a>
				</ul>
			</nav>

			{% if schedeNuove != null %}
				<h3>Schede In Stato Nuova<br></h3>
				<h3>
					Le seguenti schede sono in stato nuova e devono essere approvate:
					<a href="http://localhost:54001/scheda_pai">Vai all'elenco schede</a>
					<br></h3>
				<div>
					{% for d in testoEmailNuove %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Id</th>
								<td data-title='Id'>{{d.id}}</td>
							</tr>
							<tr>
								<th>Nome Progetto</th>
								<td data-title='Nome Progetto'>{{d.nome_progetto}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>{{ d.stato}}</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}

			{% if schedeChiuse != null %}
				<h3>Schede in stato chiusa<br></h3>
				<h3>Le seguenti schede sono state chiuse di recente:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in testoEmailChiuse %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Id</th>
								<td data-title='Id'>{{d.id}}</td>
							</tr>
							<tr>
								<th>Nome Progetto</th>
								<td data-title='Nome Progetto'>{{d.nome_progetto}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>{{ d.stato}}</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}

			{% if schedeChiuseConRinnovo is not empty %}
				<h3>Le seguenti schede sono state chiuse con rinnovo ed è necessario creare un nuovo progetto su SD manager:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					{% for d in testoEmailChiuseConRinnovo %}
						<br>
						<table class='tabella'>
							<tr>
								<th>Id</th>
								<td data-title='Id'>{{d.id}}</td>
							</tr>
							<tr>
								<th>Nome Progetto</th>
								<td data-title='Nome Progetto'>{{d.nome_progetto}}</td>
							</tr>
							<tr>
								<th>Data Inizio</th>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
							</tr>
							<tr>
								<th>Data Fine</th>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
							</tr>
							<tr>
								<th>Assistito</th>
								<td data-title='Assistito'>{{ d.assistito}}</td>
							</tr>
							<tr>
								<th>Stato</th>
								<td data-title='Stato'>{{ d.stato}}</td>
							</tr>
							<tr>
								<th>Motivazioni</th>
								<td data-title='Motivazioni'>{{ d.motivazione}}</td>
							</tr>
							<tr>
								<th>Link</th>
								<td data-title='Link'>
									<a href={{d.link}}>Crea progetto</a>
								</td>
							</tr>
						</table>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		{% block foot %}
			<footer class="blog-footer">
				<div class="left">
					<br>
					Module Manager è un servizio di Metarete Srl<br>
					<a href="" style="color:white;">Privacy</a>
					<a href="" style="color:white;">Cookie</a>
					<a href="" style="color:white;">About</a>
				</div>
				<div class="right">
					<figure class="figure">
						<img src="data:image/png;base64, {{image64}}" height="80px;">
					</figure>
				</div>
			</footer>


		{% endblock %}

	</body>
</html>
