<html>
	<head>
		<style>
			body {
				background-color: grey;
				padding: 50px 200px;
			}
			div {

				background-color: white;


			}
			h1,
			h4,
			h3 {
				color: black;
				text-align: left;
                padding: 10px;
			}
			#tabella {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;


			}

			#tabella td,
			#tabella th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#tabella tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			#tabella tr:hover {
				background-color: #ddd;
			}

			#tabella th {
				padding: 12px 50px;
				text-align: left;
				background-color: #04AA6D;
				color: white;
			}
			#tabella1 {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;

			}

			#tabella1 td,
			#tabella1 th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#tabella1 tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			#tabella1 tr:hover {
				background-color: #ddd;
			}

			#tabella1 th {
				padding: 12px 50px;
				text-align: left;
				background-color: #04AA6D;
				color: white;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Module Manager</h1>
			{% if schedeNuove != null %}
				<h3>Schede In Stato Nuova<br></h3>
				<h3>
					Le seguenti schede sono in stato nuova e devono essere approvate:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					<table id='tabella'>
						<tr>
							<th>Id</th>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Assistito</th>
							<th>Stato</th>
							<th>Link</th>
						</tr>
						{% for d in testoEmailNuove %}
							<tr>
								<td data-title='Id'>{{d.id}}</td>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
								<td data-title='Assistito'>{{ d.assistito}}</td>
								<td data-title='Stato'>{{ d.stato}}</td>
								<td data-title='Link'>
									<a href={{d.link}}>link</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}

			{% if schedeChiuse != null %}
				<h3>Schede in stato chiusa<br></h3>
				<h3>Le seguenti schede sono state chiuse di recente:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					<table id='tabella'>
						<tr>
							<th>Id</th>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Assistito</th>
							<th>Stato</th>
							<th>Link</th>
						</tr>
						{% for d in testoEmailChiuse %}
							<tr>
								<td data-title='Id'>{{d.id}}</td>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
								<td data-title='Assistito'>{{ d.assistito}}</td>
								<td data-title='Stato'>{{ d.stato}}</td>
								<td data-title='Link'>
									<a href={{d.link}}>link</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}

			{% if schedeChiuseConRinnovo is not empty %}
				<h3>Le seguenti schede sono state chiuse con rinnovo ed è necessario creare un nuovo progetto su SD manager:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					<table id='tabella'>
						<tr>
							<th>Id</th>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Assistito</th>
							<th>Stato</th>
							<th>Link</th>
						</tr>
						{% for d in testoEmailChiuseConRinnovo %}
							<tr>
								<td data-title='Id'>{{d.id}}</td>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
								<td data-title='Assistito'>{{ d.assistito}}</td>
								<td data-title='Stato'>{{ d.stato}}</td>
								<td data-title='Link'>
									<a href={{d.link}}>link</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}
		</div>
		{% block foot %}


			<h6 class="text-light">Contatti e descrizione</h6>


		{% endblock %}

	</body>
</html></div></body></html>
