<html>
	<head>
		<style>
			body {
				background-color: grey;
				padding: 50px 200px;
			}
			div {
				
				background-color: white;
				

			}
			h1,
			h4,
			h3 {
				color: black;
				text-align: left;
				padding: 10px;
			}
			#tabella {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;
				

			}

			#tabella td,
			#tabella th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#tabella tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			#tabella tr:hover {
				background-color: #ddd;
			}

			#tabella th {
				padding: 12px 50px;
				text-align: left;
				background-color: #04AA6D;
				color: white;
			}
			#tabella1 {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;

			}

			#tabella1 td,
			#tabella1 th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#tabella1 tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			#tabella1 tr:hover {
				background-color: #ddd;
			}

			#tabella1 th {
				padding: 12px 50px;
				text-align: left;
				background-color: #04AA6D;
				color: white;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Module Manager</h1>
			{% if testoApprovata1 != '' %}
				<h3>{{testoApprovata1}}<br></h3>
				<h3>Schede Pai da attivare:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					<table id='tabella'>
						<tr>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Assistito</th>
							<th>Stato</th>
							
						</tr>
						{% for d in descrizioneSchedeApprovate %}
							<tr>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
								<td data-title='Assistito'>{{ d.assistito}}</td>
								<td data-title='Stato'>{{ d.stato}}</td>
								
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}

			{% if testoRitardi1 != '' %}
				<h3>{{testoRitardi1}}<br></h3>
				<h3>Schede con dei ritardi sulla compilazione scale di valutazione:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					<table id='tabella1'>
						<tr>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Assistito</th>
							<th>Barthel in ritardo</th>
							<th>Braden in ritardo</th>
							<th>Spmsq in ritardo</th>
							<th>Tinetti in ritardo</th>
							<th>Vas in ritardo</th>
							<th>Lesioni in ritardo</th>
						</tr>
						{% for d in descrizioneRitardi %}
							<tr>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
								<td data-title='Assistito'>{{ d.assistito}}</td>
								<td data-title='Barthel'>{{ d.barthel}}</td>
								<td data-title='Braden'>{{ d.braden}}</td>
								<td data-title='Spmsq'>{{ d.spmsq}}</td>
								<td data-title='Tinetti'>{{ d.tinetti}}</td>
								<td data-title='Vas'>{{ d.vas}}</td>
								<td data-title='Lesioni'>{{ d.lesioni}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}

			{% if testoChiusura1 != '' %}
				<h3>Schede pai di progetti scaduti in attesa di chisura:
					<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					<table id='tabella'>
						<tr>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Assistito</th>
							<th>Stato</th>
						</tr>
						{% for d in descrizioneSchedeDaChiudere %}
							<tr>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
								<td data-title='Assistito'>{{ d.assistito}}</td>
								<td data-title='Stato'>{{d.stato}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}

			{% if testoAttiva1 != '' %}
				<h3>{{testoAttiva1}}<br></h3>
				<h3>Schede con valutazioni professionali mancanti:<br></h3>
				<div style="overflow-x: auto; padding: 10px">
					<table id='tabella'>
						<tr>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Assistito</th>
							<th>Valutazioni Mancanti</th>
						</tr>
						{% for d in descrizioneValutazioneProfessionale %}
							<tr>
								<td data-title='Data Inizio'>{{d.data_inizio}}</td>
								<td data-title='Data Fine'>{{d.data_fine}}</td>
								<td data-title='Assistito'>{{ d.assistito}}</td>
								<td data-title='Valutazioni Mancante'>{{d.valore}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}
			<div class="pb-2 mb-4"></div>
			<h3><a href="http://localhost:54001/scheda_pai">Vai all'elenco schede</a></h3>
			<div class="pb-2 mb-4"></div>
		</div>

		{% block foot %}

			<div class="pb-2 mb-4"></div>
			<h3 class="text-light">Contatti e descrizione</h3>
			<div class="pb-2 mb-4"></div>

		{% endblock %}
	</body>
</html></div></body></html>
