{% extends 'base.html.twig' %}

{% block title %}SchedaPAI
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		tr:hover {
			background-color: coral;
		}
		 @media screen and (min-width: 1200px){
			tr{
				width: 30%;
			}
			td{
				width: 70%;
			}
		 }
	</style>
{% endblock %}
{% block body %}
	<div class="pb-2 mb-4"></div>
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Scheda Pai
	</div>
	{{ include('campi_scheda_pai.html.twig') }}
	<div class="pb-2 mb-4"></div>
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Anagrafica Assistito
	</div>
	{{ include('dati_assistito.html.twig') }}
	<div class="pb-2 mb-4"></div>
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Valutazione Generale
	</div>
	{% if valutazione_generale is empty %}
		<h6>Nessuna scheda di valutazione generale</h6>
	{% else %}
		{{ include('campi_valutazione_generale.html.twig') }}
		<div class="pb-2 mb-4"></div>
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Valutazione Figura Professionale
	</div>
	{% if valutazioni_figura_professionale is empty %}
		<h6>Nessuna scheda di valutazione professionale</h6>
	{% else %}
		{% for valutazione_figura_professionale in valutazioni_figura_professionale %}
			{{ include('campi_valutazione_figura_professionale.html.twig') }}
			<div class="pb-2 mb-4"></div>
		{% endfor %}
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Parere MMG
	</div>
	{% if parere_mmg is empty %}
		<h6>Nessun parere mmg</h6>
	{% else %}
		{{ include('campi_parere_mmg.html.twig') }}
		<div class="pb-2 mb-4"></div>
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Barthel
	</div>
	{% if barthels is empty %}
		<h6>Nessuna scheda di valutazione barthel</h6>
	{% else %}
		{% for barthel in barthels %}
			{{ include('campi_barthel.html.twig') }}
			<div class="pb-2 mb-4"></div>
		{% endfor %}
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Braden
	</div>
	{% if bradens is empty %}
		<h6>Nessuna scheda di valutazione braden</h6>
	{% else %}
		{% for braden in bradens %}
			{{ include('campi_braden.html.twig') }}
			<div class="pb-2 mb-4"></div>
		{% endfor %}
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		SPMSQ
	</div>
	{% if spmsqs is empty %}
		<h6>Nessuna scheda di valutazione spmsq</h6>
	{% else %}
		{% for s_p_m_s_q in spmsqs %}
			{{ include('campi_spmsq.html.twig') }}
			<div class="pb-2 mb-4"></div>
		{% endfor %}
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Tinetti
	</div>
	{% if tinettis is empty %}
		<h6>Nessuna scheda di valutazione tinetti</h6>
	{% else %}
		{% for tinetti in tinettis %}
			{{ include('campi_tinetti.html.twig') }}
			<div class="pb-2 mb-4"></div>
		{% endfor %}
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Vas
	</div>
	{% if vass is empty %}
		<h6>Nessuna scheda di valutazione vas</h6>
	{% else %}
		{% for va in vass %}
			{{ include('campi_vas.html.twig') }}
			<div class="pb-2 mb-4"></div>
		{% endfor %}
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Lesioni
	</div>
	{% if lesionis is empty %}
		<h6>Nessuna scheda di valutazione lesioni</h6>
	{% else %}
		{% for lesioni in lesionis %}
			{{ include('campi_lesioni.html.twig') }}
			<div class="pb-2 mb-4"></div>
		{% endfor %}
	{% endif %}
	<div class="h3 pb-2 mb-4 border-bottom border-dark">
		Chiusura Servizio
	</div>
	{% if chiusura_servizio is empty %}
		<h6>Nessuna chiusura servizio</h6>
	{% else %}
		{{ include('campi_chiusura_servizio.html.twig') }}
	{% endif %}

	<div class="pb-2 mb-4"></div>
	<a href="{{ path('app_scheda_pai_pdf', {'id': scheda_pai.id}) }}" type="button" class="btn btn-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
  			<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
  			<path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
		</svg>
		Genera PDF</a>
	
	<a href="{{ path(pathName) }}" type="button" class="btn btn-secondary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
		</svg>
		Torna indietro</a>
	<div class="pb-2 mb-4"></div>
{% endblock %}
