<!DOCTYPE html>
<html>

	<head>
		<style>

			table,
			th,
			td {
				border: 0.5px solid;
				opacity: 1;
				width: 100%;
				border-collapse: collapse;
			}
			th {
				text-align: left;
				width: 30%;
			}
			td {
				text-align: left;
				width: 70%;

			}

			tr:nth-child(even) {
				background-color: #D3D3D3;
			}
			table td#totale {
				border: 0.5px solid;
				border-color: black;
				color: red;
			}

			h1 {
				text-align: center;
			}
			h3 {
				text-align: left;
				color: black;
				border-bottom-style: solid;

			}
			h4 {
				text-align: center;
			}
			@page {
				margin: 100px 25px;
			}

			header {
				position: fixed;
				top: -60px;
				left: 0;
				right: 0;
				height: 70px;

				/** Extra personal styles **/
				background-color: #212529;
				color: white;
				text-align: center;
				line-height: 35px;
				border-radius: 10% 30% 50% 70%;
			}


			footer {
				position: fixed;
				bottom: -60px;
				left: 0;
				right: 0;
				height: 100px;

				/** Extra personal styles **/
				background-color: #212529;
				color: white;
				text-align: center;
				line-height: 35px;
			}
			
			figure.center {
				margin: auto;
				width: 60%;
				padding: 10px;
			}
			.right {
				position: absolute;
				right: 0;
				width: 300px;
				padding: 10px;
			}
			.left {
				position: absolute;
				left: 0;
				width: 300px;
				padding: 10px;
			}
			.center {
				margin: auto;
				width: 20%;	
			}
		</style>
	</head>
	<body>
		{% block body %}
			{{include('campi_pdf/pagina_principale_pdf.html.twig')}}
			<div style="page-break-before: always;"></div>

			<header>
				<div class="right">
				<figure class="figure">
					<img src="data:image/png;base64, {{image64}}"height="50px;">
				</figure>
				</div>
				<h2>Scheda PAI</h2>
			</header>
			<footer>
				<div class="right">
				<figure class="figure">
					<img src="data:image/png;base64, {{image64}}" height="50px;">
				</figure>
				</div>
				<div class="left">
				{{assistito.nome}} {{assistito.cognome}}<br>
				{{assistito.indirizzo}} {{assistito.comune}} {{assistito.provincia}}
				</div>
			</footer>


			<h3>Anagrafica</h3>

			{{include('campi_pdf/dati_assistito_pdf.html.twig')}}

			<h3>Operatori principali e secondari</h3>

			{{ include('campi_pdf/campi_scheda_pai_pdf.html.twig') }}

			<div style="page-break-before: always;"></div>

			<h3>Valutazione Generale</h3>
			{% if valutazione_generale is empty %}
				<h4>Nessuna scheda di valutazione generale</h4>
			{% else %}
				{{ include('campi_pdf/campi_valutazione_generale_pdf.html.twig') }}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>Valutazione Figura Professionale</h3>
			{% if valutazioni_figura_professionale is empty %}
				<h4>Nessuna scheda di valutazione professionale</h4>
			{% else %}
				{% for valutazione_figura_professionale in valutazioni_figura_professionale %}
					{{ include('campi_pdf/campi_valutazione_figura_professionale_pdf.html.twig') }}
					<br>
				{% endfor %}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>Barthel</h3>
			{% if barthels is empty %}
				<h4>Nessuna scheda di valutazione barthel</h4>
			{% else %}
				{% for barthel in barthels %}
					{{ include('campi_pdf/campi_barthel_pdf.html.twig') }}
					<br>
				{% endfor %}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>Braden</h3>
			{% if bradens is empty %}
				<h4>Nessuna scheda di valutazione braden</h4>
			{% else %}
				{% for braden in bradens %}
					{{ include('campi_pdf/campi_braden_pdf.html.twig') }}
					<br>
				{% endfor %}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>SPMSQ</h3>
			{% if spmsqs is empty %}
				<h4>Nessuna scheda di valutazione spmsq</h4>
			{% else %}
				{% for s_p_m_s_q in spmsqs %}
					{{ include('campi_pdf/campi_spmsq_pdf.html.twig') }}
					<br>
				{% endfor %}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>Tinetti</h3>
			{% if tinettis is empty %}
				<h4>Nessuna scheda di valutazione tinetti</h4>
			{% else %}
				{% for tinetti in tinettis %}
					{{ include('campi_pdf/campi_tinetti_pdf.html.twig') }}
					<br>
				{% endfor %}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>Vas</h3>
			{% if vass is empty %}
				<h4>Nessuna scheda di valutazione vas</h4>
			{% else %}
				{% for va in vass %}
					{{ include('campi_pdf/campi_vas_pdf.html.twig') }}
					<br>
				{% endfor %}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>Lesioni</h3>
			{% if lesionis is empty %}
				<h4>Nessuna scheda di valutazione lesioni</h4>
			{% else %}
				{% for lesioni in lesionis %}
					{{ include('campi_pdf/campi_lesioni_pdf.html.twig') }}
					<br>
				{% endfor %}
			{% endif %}
			<div style="page-break-before: always;"></div>
			<h3>Parere MMG</h3>
			{% if parere_mmg is empty %}
				<h4>Nessun parere mmg</h4>
			{% else %}
				{{ include('campi_pdf/campi_parere_mmg_pdf.html.twig') }}
			{% endif %}
			<h3>Chiusura Servizio</h3>
			{% if chiusura_servizio is empty %}
				<h4>Nessuna chiusura servizio</h4>
			{% else %}
				{{ include('campi_pdf/campi_chiusura_servizio_pdf.html.twig') }}
			{% endif %}

		{% endblock %}
	</body>
</html>
