<!DOCTYPE html>
<html>

	<head>
		<style>

			table,
			th,
			td {
				border: 0.5px solid;
				opacity: 1;
				width: 100%;
				border-collapse: collapse;
			}
			th {
				text-align: left;
				width: 30%;
			}
			td {
				text-align: left;
				width: 70%;

			}

			tr:nth-child(even) {
				background-color: #D3D3D3;
			}
			table td#totale {
				border: 0.5px solid;
				border-color: black;
				color: red;
			}

			h1 {
				text-align: center;
			}
			h3 {
				text-align: left;
				color: black;
				border-bottom-style: solid;

			}
			h4 {
				text-align: center;
			}
			@page {
				margin: 100px 25px;
			}

			header {
				position: fixed;
				top: -60px;
				left: 0;
				right: 0;
				height: 50px;

				/** Extra personal styles **/
				background-color: #212529;
				color: white;
				text-align: center;
				line-height: 35px;
				border-radius: 10%;
			}


			footer {
				position: fixed;
				bottom: -60px;
				left: 0;
				right: 0;
				height: 100px;

				/** Extra personal styles **/
				background-color: #212529;
				color: white;
				text-align: center;
				line-height: 35px;
			}

			figure.center {
				margin: auto;
				width: 60%;
				padding: 10px;
			}
			.right {
				position: absolute;
				right: 0;
				width: 300px;
				padding: 10px;
			}
			.left {
				position: absolute;
				left: 0;
				width: 300px;
				padding: 10px;
			}
			.center {
				margin: auto;
				width: 20%;
			}
		</style>
	</head>
	<body>
		{% block body %}
			{{include('campi_pdf/pagina_principale_pdf.html.twig')}}
			<div style="page-break-before: always;"></div>

			<header>
				<div class="right">
					{{scheda_pai.nomeProgetto}}
				</div>
				<div class="left">
					{{assistito.nome}}
					{{assistito.cognome}}
					{{assistito.indirizzo}}
					{{assistito.comune}}
					{{assistito.provincia}}
				</div>
			</header>

			<footer>

				<div class="right">
					<figure class="figure">
						<img src="data:image/png;base64, {{image64}}" height="50px;">
					</figure>
				</div>
				<div class="left">
					Coop Progetto Assistenza s.c.s.<br>
					0375 203401
				</div>
			</footer>


			<h3>Anagrafica</h3>

			{{include('campi_pdf/dati_assistito_pdf.html.twig')}}

			<h3>Operatori principali e secondari</h3>

			{{ include('campi_pdf/campi_scheda_pai_pdf.html.twig') }}

			<h3>Caratteristiche Progetto</h3>

			{{ include('campi_pdf/campi_progetto_pdf.html.twig') }}

			<div style="page-break-before: always;"></div>


			{% if valutazione_generale is empty %}

				{% else %}
					<h3>Valutazione Generale</h3>
					{{ include('campi_pdf/campi_valutazione_generale_pdf.html.twig') }}
					<div style="page-break-before: always;"></div>
			{% endif %}


			{% if valutazioni_figura_professionale is empty %}

				{% else %}
					<h3>Valutazione Figura Professionale</h3>
					{% for valutazione_figura_professionale in valutazioni_figura_professionale %}
						{{ include('campi_pdf/campi_valutazione_figura_professionale_pdf.html.twig') }}
						<br>
					{% endfor %}
					<div style="page-break-before: always;"></div>
			{% endif %}

			{% if barthels is empty %}
				{% else %}
					<h3>Barthel</h3>
					{{ include('campi_pdf/campi_barthel_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}


			{% if bradens is empty %}

				{% else %}
					<h3>Braden</h3>
					{{ include('campi_pdf/campi_braden_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}


			{% if spmsqs is empty %}

				{% else %}
					<h3>SPMSQ</h3>
					{{ include('campi_pdf/campi_spmsq_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}


			{% if tinettis is empty %}

				{% else %}
					<h3>Tinetti</h3>
					{{ include('campi_pdf/campi_tinetti_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}


			{% if vass is empty %}

				{% else %}
					<h3>Vas</h3>
					{{ include('campi_pdf/campi_vas_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}


			{% if lesionis is empty %}

				{% else %}
					<h3>Lesioni</h3>
					{{ include('campi_pdf/campi_lesioni_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}

			{% if painads is empty %}

				{% else %}
					<h3>Painad</h3>
					{{ include('campi_pdf/campi_painad_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}

			{% if cdrs is empty %}

				{% else %}
					<h3>Cdr</h3>
					{{ include('campi_pdf/campi_cdr_pdf.html.twig') }}
					<br>
					<div style="page-break-before: always;"></div>
			{% endif %}


			{% if parere_mmg is empty %}

				{% else %}
					<h3>Parere MMG</h3>
					{{ include('campi_pdf/campi_parere_mmg_pdf.html.twig') }}
			{% endif %}

			{% if chiusura_servizio is empty %}

				{% else %}
					<h3>Chiusura Servizio</h3>
					{{ include('campi_pdf/campi_chiusura_servizio_pdf.html.twig') }}
			{% endif %}

		{% endblock %}
	</body>
</html>
