{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}
<div class="container-fluid text-center">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<table id="tabella-index-scale-scheda-pai" class="col-sm-12  table-striped table-condensed cf">
						<thead class="cf"></thead>

						<thead>
							<tr>
								<th></th>
								{% for lesioni in lesionis %}
									<th data-title='Data Valutazione'>{{lesioni.dataRivalutazioniSettimanali ? lesioni.dataRivalutazioniSettimanali|date('d/m/Y') : ''}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
                            <tr>
								<th>Tipologia Lesione</th>
								{% for lesioni in lesionis %}
									<td>{{lesioni.tipologiaLesione}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Numero sede lesione</th>
								{% for lesioni in lesionis %}
									<td>{{lesioni.numeroSedeLesione}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Grado lesione</th>
								{% for lesioni in lesionis %}
									<td>{{lesioni.gradoLesione}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Condizione lesione</th>
								{% for lesioni in lesionis %}
									<td>{{lesioni.condizioneLesione}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Bordi lesione</th>
								{% for lesioni in lesionis %}
									<td>{{lesioni.bordiLesione}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Cute perilesionale</th>
								{% for lesioni in lesionis %}
									<td>{{lesioni.cutePerilesionale}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Note sulla lesione</th>
								{% for lesioni in lesionis %}
									<td>{{lesioni.noteSullaLesione}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th></th>
								{% for lesioni in lesionis %}
									<td><br></td>
								{% endfor %}
							</tr>
							<tr>
								<th>Operatore</th>
								{% for lesioni in lesionis %}
									<td>{{ lesioni.operatore.name }}
										{{lesioni.operatore.surname}}</td>
								{% endfor %}
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
