<table class="col-sm-12">
	<thead class="cf"></thead>
	<tbody>
		<tr>
			<th>
				Operatore
			</th>

			<td>
				{{ va.operatore.name }}
				{{va.operatore.surname}}
			</td>
		</tr>
		<tr>
			<th>
				Data Valutazione
			</th>

			<td>
				{{ va.data ? va.data|date('Y-m-d') : '' }}
			</td>
		</tr>
		<tr>
			<th>
				Rilevazione di Base 2 volte
			</th>

			<td>
				{{ va.base2}}
			</td>
		</tr>
		<tr>
			<th>
				Rilevazione al bisogno del PZ
			</th>

			<td>
				{{ va.pz}}
			</td>
		</tr>

		<tr>
			<th>
				Esito rilevazione post trattamento
			</th>

			<td>
				{{ va.esito}}
			</td>
		</tr>
		<tr>
			<th>
				Farmaci
			</th>

			<td>
				{{ va.farmaci ? 'Si' : 'No' }}
			</td>
		</tr>
		<tr>
			<th>
				Altro
			</th>

			<td>
				{{ va.altro ? 'Si' : 'No' }}
			</td>
		</tr>

	</tbody>
</table>
