{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}
<div class="container-fluid text-center">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<table id="tabella-index-scale-scheda-pai" class="col-sm-12  table-striped table-condensed cf">
						<thead class="cf"></thead>
                        
						<thead>
                            <tr>
                                <th></th>
								{% for tinetti in tinettis %}                                  
									<th data-title='Data Valutazione'>{{tinetti.dataValutazione ? tinetti.dataValutazione|date('d-m-Y') : ''}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							<tr>
								<th><h3>Equilibrio</h3></th>
								{% for tinetti in tinettis %}
									<td></td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Equilibrio da Seduto</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.equilibrioSeduto}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Alzarsi dalla sedia</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.sedia}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Tentativo di alzarsi</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.alzarsi}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Equilibrio stazione eretta</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.stazioneEretta}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Equilibrio stazione eretta prolungata</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.stazioneErettaProlungata}}</td>
								{% endfor %}
							</tr>
                             <tr>
								<th>Romberg</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.romberg}}</td>
								{% endfor %}
							</tr>
                             <tr>
								<th>Romberg sensibilizzato</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.rombergSensibilizzato}}</td>
								{% endfor %}
							</tr>
                             <tr>
								<th>Girarsi a 360° A</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.girarsi1}}</td>
								{% endfor %}
							</tr>
                             <tr>
								<th>Girarsi a 360° B</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.girarsi2}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Sedersi</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.sedersi}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Totale Equilibrio</th>
								{% for tinetti in tinettis %}
									<td><strong>{{ tinetti.totaleEquilibrio}}/16</td>
								{% endfor %}
							</tr>
							<tr>
								<th><br></th>
							</tr>
							<tr>
								<th><h3>Andatura</h3></th>
								{% for tinetti in tinettis %}
									<td><br></td>
								{% endfor %}
							</tr>
							 <tr>
								<th>Inizio della deambulazione immediatamente dopo il via</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.inizioDeambulazione}}</td>
								{% endfor %}
							</tr>
							 <tr>
								<th>Lunghezza passo piede destro</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.piedeDx}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Altezza passo piede destro</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.piedeDx2}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Lunghezza passo piede sinistro</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.piedeSx}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Altezza passo piede sinistro</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.piedeSx2}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Simmetria del passo</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.simmetriaPasso}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Continuità passo</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.continuitaPasso}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Traiettoria</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.traiettoria}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Tronco</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.tronco}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Cammino</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.cammino}}</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Totale andatura</th>
								{% for tinetti in tinettis %}
									<td><strong>{{ tinetti.totaleAndatura}}/12</td>
								{% endfor %}
							</tr>
							<tr>
								<th></th>
								{% for tinetti in tinettis %}
									<td><br></td>
								{% endfor %}
							</tr>
							<tr>
								<th>Totale</th>
								{% for tinetti in tinettis %}
									<td><strong>{{ tinetti.totale}}/28</td>
								{% endfor %}
							</tr>
							<tr>
								<th>Operatore</th>
								{% for tinetti in tinettis %}
									<td>{{ tinetti.operatore.name }}
										{{tinetti.operatore.surname}}</td>
								{% endfor %}
							</tr>
							
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>