{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<style>
		body {
			margin: 0;
		}
		.card {
			padding: 0;
			text-align: left;
		}
		.card-text {
			border-bottom-style: solid;
		}
		.card-title {
			border-bottom-style: solid;
			padding-bottom: 8px
		}
	</style>
{% endblock %}
<div class="container-fluid text-center">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<table id="tabella-index-scale-scheda-pai" class="col-sm-12  table-striped table-condensed cf">
						<thead class="cf"></thead>
                        
						<thead>
                            <tr>
                                <th></th>
								{% for va in vass %}                                  
									<th data-title='Data Valutazione'>{{va.data ? va.data|date('d/m/Y') : ''}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
                             <tr>
								<th>Rilevazione di Base 2 volte</th>
								{% for va in vass %}
									<td>{{ va.base2}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Rilevazione al bisogno del PZ</th>
								{% for va in vass %}
									<td>{{ va.pz}}</td>
								{% endfor %}
							</tr>
                             <tr>
								<th>Esito rilevazione post trattamento</th>
								{% for va in vass %}
									<td>{{ va.esito}}</td>
								{% endfor %}
							</tr>
                             <tr>
								<th>Farmaci</th>
								{% for va in vass %}
									<td>{{ va.farmaci ? 'Si' : 'No'}}</td>
								{% endfor %}
							</tr>
                             <tr>
								<th>Altro</th>
								{% for va in vass %}
									<td>{{ va.altro ? 'Si' : 'No'}}</td>
								{% endfor %}
							</tr>
                            <tr>
								<th></th>
								{% for va in vass %}
									<td><br></td>
								{% endfor %}
							</tr>
                            <tr>
								<th>Operatore</th>
								{% for va in vass %}
									<td>{{ va.operatore.name }}
										{{va.operatore.surname}}</td>
								{% endfor %}
							</tr>
							
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>