<br>

<table class="col-sm-12">
	<thead class="cf"></thead>
	<tbody>
		<tr>
			<th>
				Data inizio progetto
			</th>

			<td>
				{{ scheda_pai.dataInizio ? scheda_pai.dataInizio|date('d/m/Y') : ''}}

			</td>
		</tr>
		<tr>
			<th>
				Data fine progetto
			</th>

			<td>
				{{ scheda_pai.dataFine ? scheda_pai.dataFine|date('d/m/Y') : ''}}

			</td>
		</tr>
		{% if scheda_pai.abilitaBarthel == true %}
			<tr>
				<th>
					Frequenza scale Barthel
				</th>

				<td>

					Compilazione scala barthel ogni
					{{ scheda_pai.frequenzaBarthel}}
					giorni


				</td>
			</tr>
		{% endif %}
		{% if scheda_pai.abilitaBraden == true %}
			<tr>
				<th>
					Frequenza scale Braden
				</th>

				<td>

					Compilazione scala braden ogni
					{{ scheda_pai.frequenzaBraden}}
					giorni


				</td>
			</tr>
		{% endif %}
		{% if scheda_pai.abilitaSpmsq == true %}
			<tr>
				<th>
					Frequenza scale SPMSQ
				</th>

				<td>

					Compilazione scala SPMSQ ogni
					{{ scheda_pai.frequenzaSpmsq}}
					giorni


				</td>
			</tr>
		{% endif %}
		{% if scheda_pai.abilitaTinetti == true %}
			<tr>
				<th>
					Frequenza scale Tinetti
				</th>

				<td>

					Compilazione scala Tinetti ogni
					{{ scheda_pai.frequenzaTinetti}}
					giorni


				</td>
			</tr>
		{% endif %}
		{% if scheda_pai.abilitaVas == true %}
			<tr>
				<th>
					Frequenza scale VAS
				</th>

				<td>

					Compilazione scala VAS ogni
					{{ scheda_pai.frequenzaVas}}
					giorni


				</td>
			</tr>
		{% endif %}
		{% if scheda_pai.abilitaLesioni == true %}
			<tr>
				<th>
					Frequenza scale Lesioni
				</th>

				<td>

					Compilazione scala Lesioni ogni
					{{ scheda_pai.frequenzaLesioni}}
					giorni


				</td>
			</tr>
		{% endif %}
	</tbody>
</table>
