<div class="container-fluid text-center">
	<table class="col-sm-12">
		<thead class="cf"></thead>
		<tbody>
			<tr>
				<th>
					Nome
				</th>
			
				<td>
					{{assistito.nome}}
				</td>
			</tr>
			<tr>
				<th>
					Cognome
				</th>
			
				<td>
					{{assistito.cognome}}
				</td>
			</tr>
			<tr>
				<th>
					Codice Fiscale
				</th>
			
				<td>
					{{assistito.codiceFiscale}}
				</td>
			</tr>
            <tr>
				<th>
					Indirizzo
				</th>
			
				<td>
					{{assistito.indirizzo}}
				</td>
			</tr>
            <tr>
				<th>
					Comune
				</th>
			
				<td>
					{{assistito.comune}}
				</td>
			</tr>
            <tr>
				<th>
					Provincia
				</th>
			
				<td>
					{{assistito.provincia}}
				</td>
			</tr>
            <tr>
				<th>
					CAP
				</th>
			
				<td>
					{{assistito.cap}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
