<div class="left">
	<figure class="figure">
		<img src="data:image/png;base64, {{image64Metarete}}">
	</figure>
</div>
<div class="right">
<h4> Via Mantova, 71<br>
26100 Cremona - Italy<br>
Tel +39 0372 432228<br>
Fax +39 0372 590617<br>
PEC: info@pec.metarete.it<br>
EMAIL: info@metarete.it<br>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="text-center">{{scheda_pai.nomeProgetto}}</h1>

<h4 class="text-center">
	Creato in data
	{{dataCreazione}}</h4>
<h4 class="text-center">
	<strong>{{assistito.nome}}
		{{assistito.cognome}}</strong>
</h4>
<br>
<br>
<br>
<br>
<h4 class="text-center">
	Coop. Progetto Assistenza s.c.s.</h4>

<div class="center">
    <figure class="figure">
		<img src="data:image/png;base64, {{image64}}" height="70px;">
    </figure>
</div>
<div class="right">
	<h4>
		Sede Di Casalmaggiore<br>

		Indirizzo - Via Petofi,8 - 1°piano<br>

		Telefono - 0375203401<br>

		Fax - 0375202375<br>

		Mail - info@coopprogettoassistenza.it<br></h4>
</div>
<div class="left">
	<h4> 
    Sede di Cremona<br>
	
	Via Giuseppina, 117<br>
	
	Telefono - 0372080399<br>
	
	Fax - 037200000<br>
	
	info@coopprogettoassistenza.it<br></h4>
</div>
