{% extends 'base.html.twig' %}

{% block title %}AltraTipologiaAssistenza index{% endblock %}

{% block body %}
    <h1>Altra Tipologia Assistenza</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for altra_tipologia_assistenza in altra_tipologia_assistenzas %}
            <tr>
                <td>{{ altra_tipologia_assistenza.id }}</td>
                <td>{{ altra_tipologia_assistenza.nome }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_controller_pai_altra_tipologia_assistenza_show', {'id': altra_tipologia_assistenza.id}) }}">Visualizza</a>
                    <a class="btn btn-primary" href="{{ path('app_controller_pai_altra_tipologia_assistenza_edit', {'id': altra_tipologia_assistenza.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nessuna tipologia disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_controller_pai_altra_tipologia_assistenza_new') }}">Crea nuova tipologia</a>
{% endblock %}
