{% extends 'base.html.twig' %}

{% block title %}AltraTipologiaAssistenza{% endblock %}

{% block body %}
    <h1>Altra Tipologia Assistenza</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ altra_tipologia_assistenza.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ altra_tipologia_assistenza.nome }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('app_controller_pai_altra_tipologia_assistenza_index') }}">Indietro</a>

    <a class="btn btn-primary" href="{{ path('app_controller_pai_altra_tipologia_assistenza_edit', {'id': altra_tipologia_assistenza.id}) }}">Modifica</a>

    {{ include('controller_pai/altra_tipologia_assistenza/_delete_form.html.twig') }}
{% endblock %}
